  <p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="hidden-xs">Business English<span class="pull-right glyphicon glyphicon-tags"></span></h3></div>
          <div class="panel-body">

            <br><p>Job Interview   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#business1">Show contents</button></p>
            <div id="business1" class="collapse">
              <em>Course Objective: Students can practice basic language associated with job interviews.</em><br><br>

            
            <strong>Sample Cover Letter</strong><br>
            <em>A covering letter sent with resume is also called a letter of application.</em><br><br>

            <p>If it is well-written, attractive, easy to read and persuasive, the employer will turn to your RESUME. It's that simple!</p><br><br>


            <strong><p>Your letter should: </strong><br>
            1. confirm that you are applying for the position <br>
            2. say where you learned about the position <br>
            3. say why you want the position <br>
            4. say why you would be a benefit to the company <br>
            5. request an interview <br><br>
            </p>

            <hr>


            <strong>Warm-Up Question</strong><br><br>

            <p>1. What do you look for when you hire people? <br>
              2. What do you look for in a job?<br>
              3. Have you ever consider changing your job? Why? <br><br>
            </p>

            <em>Describe the pictures in 1 minute using your own words.</em><br><br>
            <p>In this picture i see...</p><br>


            <img src="https://lh4.googleusercontent.com/Bnkg2MKQGUGIFxNVJ65xNVj_RjkSuiZR4buOFSAPLH9cgxFIHrUVGo3avvrXLjNnqKCcvNm3Gf6WEv-1hcDfn0MaFqrQKfs2b--H5iXczvVuBzJfefMgu2Qr4na8qrgad5H5BYF3" width="60%" alt="Error Loading Img."> <br><br>


            <strong>Discussion</strong><br><br>
            <em>Here’s an example of a job interview.</em><br>
            <img src="https://lh3.googleusercontent.com/imPtFkj8-Xw3JWq1rB9qtiZlYUET6U1tUuOGHUGqZUmJDx1w0sFR5MANyAC6uCJ4e_C_A4AxYWpBIZKeXXoEa4USXJgWfjOMWR_4C202zzlr5jNfBmlZnvFOupajyWRjpGcHcQG-" width="50%" alt="Error Loading Img."><br><br>

            <strong>Interviewer: </strong>How many jobs have you had since leaving university? <br>
            <strong>Candidate: </strong>I've worked for six companies. <br>
            <strong>Interviewer: </strong>Why have you changed jobs so often? <br> 
            <strong>Candidate: </strong>I wanted to earn more money. <br>
            <strong>Interviewer: </strong>What have you done that shows leadership?<br>
            <strong>Candidate: </strong>Well, I lead the sales team. I'm also chairperson of a local business association. <br>
             <strong>Interviewer: </strong>What are your strengths?<br>
             <strong>Candidate: </strong>I'm fluent in Italian and Spanish. I'm good at training sales staff and I get on well with people. <br> I think I'm very good at organizing seminars for customers. <br>
            <strong>Interviewer: </strong>In what ways has your job changed since you joined the company? <br>
            <strong>Candidate: </strong>I now have more responsibility and work longer hours.<br>
            <strong>Interviewer: </strong>What mistakes have you made?<br>
            <strong>Candidate: </strong>I'm not patient when people don't meet deadlines.<br>
            <strong>Interviewer: </strong>Have you ever worked with a difficult person?<br>
            <strong>Candidate: </strong>Well, the  boss in my last company wasn't easy to work with.<br>
            <br><br>

            <strong>How do you prepare for a Job Interview?</strong><br><br>
            <p>1. Know the facts research about the company and about the position. <br>
              2. Dress appropriately. <br>
              3. Know the commonly asked questions during interviews. <br>
              4. Practice, practice and practice. <br></p>











            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#business1">Close</button><br>
            <hr>
         </div>






          </div>
        </div>
      </div>
   </div>  
</div>
