  <p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="hidden-xs">Business English<span class="pull-right glyphicon glyphicon-tags"></span></h3></div>
          <div class="panel-body">

            <br><p>Job Interview   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#business1">Show contents</button></p>
            <div id="business1" class="collapse">
              <em>Course Objective: Students can practice basic language associated with job interviews.</em><br><br>

            
            <strong>Sample Cover Letter</strong><br>
            <em>A covering letter sent with resume is also called a letter of application.</em><br><br>

            <p>If it is well-written, attractive, easy to read and persuasive, the employer will turn to your RESUME. It's that simple!</p><br><br>


            <strong><p>Your letter should: </strong><br>
            1. confirm that you are applying for the position <br>
            2. say where you learned about the position <br>
            3. say why you want the position <br>
            4. say why you would be a benefit to the company <br>
            5. request an interview <br><br>
            </p>

            <hr>


            <strong>Warm-Up Question</strong><br><br>

            <p>1. What do you look for when you hire people? <br>
              2. What do you look for in a job?<br>
              3. Have you ever consider changing your job? Why? <br><br>
            </p>

            <em>Describe the pictures in 1 minute using your own words.</em><br><br>
            <p>In this picture i see...</p><br>


            <img src="https://lh4.googleusercontent.com/Bnkg2MKQGUGIFxNVJ65xNVj_RjkSuiZR4buOFSAPLH9cgxFIHrUVGo3avvrXLjNnqKCcvNm3Gf6WEv-1hcDfn0MaFqrQKfs2b--H5iXczvVuBzJfefMgu2Qr4na8qrgad5H5BYF3" width="60%" alt="Error Loading Img."> <br><br>


            <strong>Discussion</strong><br><br>
            <em>Here’s an example of a job interview.</em><br>
            <img src="https://lh3.googleusercontent.com/imPtFkj8-Xw3JWq1rB9qtiZlYUET6U1tUuOGHUGqZUmJDx1w0sFR5MANyAC6uCJ4e_C_A4AxYWpBIZKeXXoEa4USXJgWfjOMWR_4C202zzlr5jNfBmlZnvFOupajyWRjpGcHcQG-" width="50%" alt="Error Loading Img."><br><br>

            <strong>Interviewer: </strong>How many jobs have you had since leaving university? <br>
            <strong>Candidate: </strong>I've worked for six companies. <br>
            <strong>Interviewer: </strong>Why have you changed jobs so often? <br> 
            <strong>Candidate: </strong>I wanted to earn more money. <br>
            <strong>Interviewer: </strong>What have you done that shows leadership?<br>
            <strong>Candidate: </strong>Well, I lead the sales team. I'm also chairperson of a local business association. <br>
             <strong>Interviewer: </strong>What are your strengths?<br>
             <strong>Candidate: </strong>I'm fluent in Italian and Spanish. I'm good at training sales staff and I get on well with people. <br> I think I'm very good at organizing seminars for customers. <br>
            <strong>Interviewer: </strong>In what ways has your job changed since you joined the company? <br>
            <strong>Candidate: </strong>I now have more responsibility and work longer hours.<br>
            <strong>Interviewer: </strong>What mistakes have you made?<br>
            <strong>Candidate: </strong>I'm not patient when people don't meet deadlines.<br>
            <strong>Interviewer: </strong>Have you ever worked with a difficult person?<br>
            <strong>Candidate: </strong>Well, the  boss in my last company wasn't easy to work with.<br>
            <br><br>

            <strong>How do you prepare for a Job Interview?</strong><br><br>
            <p>1. Know the facts research about the company and about the position. <br>
              2. Dress appropriately. <br>
              3. Know the commonly asked questions during interviews. <br>
              4. Practice, practice and practice. <br></p><br>

            <strong>Comprehension Check</strong><br><br>
            <em>Answer the questions below:</em><br><br>

            <p>1. How many companies has the candidate worked for? <br>
              2. Why has the candidate changed jobs so far? <br>
              3. What strengths does the candidate possess? Say just two things. <br>
              4. What mistake has been made by the candidate? <br></p><br>


              <strong>Practice the conversation below with your teacher</strong> <br><br>

              <strong>Teacher: </strong>How many jobs have you had since leaving university? <br>
              <strong>Student: </strong>I've worked for ... <br>
              <em>Example: I've worked for (six companies).</em><br><br>

              <strong>Teacher: </strong>Why have you changed jobs? <br>
              <strong>Student: </strong>I wanted to... <br>
              <em>Example: I wanted to (earn more money)</em><br><br>

              <strong>Teacher: </strong>What are your strengths?<br>
              <strong>Student: </strong>I'm good at... <br>
              <em>Example: I'm good at (training sales staff and organizing seminars for customers).</em><br><br>

              <strong>Useful Phrases and Expressions</strong><br>
              <em>Please complete the sentence below, give at least 3 examples each</em><br><br>

              <strong>Experience </strong><br><br>
              <strong>Interviewer: </strong>What did you learn from your last job?<br>
              <strong>Candidate: </strong>I learned to... <br> <br>
              <strong>Interviewer: </strong>What didn't you like about your last job?<br>
              <strong>Candidate: </strong>Well, I had a problem with <br><br>

              <strong>Skills </strong><br><br>
              <strong>Interviewer: </strong>What are you good at? <br>
              <strong>Candidate: </strong>People say that I'm good at... <br><br>
              <strong>Interviewer: </strong>Do you have any special skills? <br>
              <strong>Candidate: </strong>My main strengths are...<br><br>

              <strong>Future Plans</strong><br><br>
              <strong>Interviewer: </strong>What do you want to do in the future? <br>
              <strong>Candidate: </strong>My main aim is to... <br><br>
              <strong>Interview: </strong>Where do you want to be in ten years time? <br>
              <strong>Candidate: </strong>I plan to be.../I hope to have <br><br>

              <strong>Future Plans</strong><br><br>
              <strong>Interviewer: </strong>What do you do in your free time?<br>
              <strong>Candidate: </strong>I really enjoy <br><br>
              <strong>Interviewer: </strong>What are your main interests? <br>
              <strong>Candidate: </strong>I spend a lot of time <br><br>

              <strong>FAQs During Job Interviews</strong><br><br>

              <p>1. What are your strengths? <br>
                2. What are your weaknesses? <br>
                3. Why are you interested in working for [insert company name here]? <br>
                4. Where do you see yourself in five years? Ten years? <br>
                5. Why do you want to leave your current company? <br>
                6. Why was there a gap in your employment between [insert date] and [insert date]? <br>
                7. What can you offer us that someone else can not? <br>
                8. What are three things your former manager would like you to improve on? <br>
                9. Are you willing to relocate? <br>
                10. Are you willing to travel? <br>
                11. Tell me about an accomplishment you are most proud of. <br>
                12. Tell me about a time you made a mistake. <br>
                13. What is your dream job? <br>
                14. How did you hear about this position? <br>
                15. What would you look to accomplish in the first 30 days/60 days/90 days on the job? <br>
                16. Discuss your resume. <br>
                17. Discuss your educational background. <br>
                18. Describe yourself. <br>
                19. Tell me how you handled a difficult situation. <br>
                20. Why should we hire you? <br>
                21. Why are you looking for a new job? <br>
                22. Would you work holidays/weekends? <br>
                23. How would you deal with an angry or irate customer? <br>
                24. What are your salary requirements? (Hint: if you’re not sure what’s a fair salary range and compensation package, research the job title and/or company on Glassdoor.) <br>
                25. Give a time when you went above and beyond the requirements for a project. <br>
                26. Who are our competitors? <br>
                27. What was your biggest failure? <br>
                28. What motivates you? <br>
                29. What’s your availability? <br>
                30. Who’s your mentor? <br></p><br>

                <h2><strong>How to write a Job Description</strong></h2><br>
                <strong>Job title</strong><br><br>

                <strong>Make your job titles specific. </strong>Targeted job titles are more effective than generic ones, so be precise by <br> including key phrases that accurately describe the role. <br>
                <strong>Avoid internal lingo that may confuse the job seeker.</strong>Stick to standard experience levels like “Senior” rather than “VI” or other terms <br> people are less likely to look for. <br>
                <strong>Keep the job title concise.</strong>Our data shows job descriptions that are 80 characters or less receive more clicks. <br>
                <strong>Research popular job titles. </strong>Use Indeed Job Trends, a free tool, to compare the popularity of job titles and phrases within job postings.  <br>

                <h2><strong>Job summary</strong></h2><br><br>
                <strong>Open with a strong, attention-grabbing summary. </strong>Your summary should provide an overview of your company and expectations for the position. <br>
                <strong>Hook your reader with details about what makes your company unique.  </strong>Your job description is an introduction to your company and your employer brand. <br> Include details about your company culture to sum up why a candidate would love to work for you. <br>
                <strong>Include an exact job location.</strong>Provide an exact job location to optimize your job posting so it appears higher in job search results.  <br><br>

                <h2><strong>Responsibilities and duties</strong></h2><br>

                <strong>Outline the core responsibilities of the position. </strong>Make sure your list of responsibilities is detailed but concise. Also emphasize the duties that <br> may be unique to your organization. For example, if you are hiring for <br> an “Event Management” role and the position requires social media expertise to promote events, include <br> this detail to ensure candidates understand the requirements and can determine if they’re qualified. <br>

                <strong>Highlight the day-to-day activities of the position. </strong>This will help candidates understand the work environment and the activities they will be exposed to on a daily basis.  <br>This level of detail will help the candidate determine if the role and company are a right fit, helping you attract the best candidates for your position. <br>

                <strong>Specify how the position fits into the organization. </strong>Indicate who the job reports to and how the person will function within your organization, helping candidates <br>see the bigger picture and understand how the role impacts the business.  <br><br>

                <h2><strong>Qualifications and skills</strong></h2><br>

                <strong>Include a list of hard and soft skills. </strong> Of course, the job description should specify education, previous job experience, certifications and technical skills required for the role.  <br>You may also include soft skills, like communication and problem solving, as well as personality traits that you envision for a successful hire. <br>

                <strong>Keep your list concise. </strong>While you may be tempted to list out every requirement you envision for your ideal hire, including too many qualifications <br> and skills could dissuade potential candidates. <br><br>
                <hr><br>

                <h2><strong>Listening Matters</strong></h2><br>
                <strong>Click <a style="text-decoration: underline; color: red;" target="_blank" href="http://www.talkenglish.com/speaking/interview/intbasic1.aspx">HERE</a> to open resource.</strong><br><br>


                <strong>Vocabulary</strong><br><br>

                <strong>multi-tasking- </strong>is a concept of performing multiple tasks <br>
                <img src="https://lh4.googleusercontent.com/XPmtSjo3BtaZFcVzm2oAMuzJJv0QTyj-K3Zpjlx-TuiEWPO_DuAx_8Sfk8XIux_ib2kxhkS-nLuDLX0IQDQiEDD5QUcS6zKX2jQXjOa8awawIBEVWiUmDDVxRD18YQ8VbP4c1ex1" width="20%"><br><br>

                <strong>customers- </strong>A party that receives or consumes products (goods or services) and has the ability to choose between different products and suppliers. <br>
                <img src="https://lh6.googleusercontent.com/RyW1ttmk2i2S8Wpe0pLm9-KqwkLq15ihmF9ThTaI-kMjApGBWu3Xgbr3NYhJ9lmzdZ11YpxIHEILKIkRYHHO_JtWaGX_3bG_-XR8RRapTC63jBql5fk8SKqeAecJY2ptntPdzF1W" width="20%"><br><em>"For many companies, 20% of the customers generate 80% of the profits. Those companies would often be better off by focusing more on that 20%, and by searching <br> for other customers similar to that 20%, and focusing less on the other 80% of their current customers."</em><br><br>

                <strong>sociable- </strong>willing to talk and engage in activities with other people; friendly. <br><br>
                <em>Our company CEO is very sociable.</em><br>
                <img src="https://lh5.googleusercontent.com/fJU1fprnIwzcUu1M05ZxD6Zfn6kPoxH1cT7Uu6jdsMNhFsis-tRVNT7ksh4mL3Ep7j0zlhJQ_kogSsJWtXYzou4Fz_t8XywjlHH5qEnMSffoHzAtQ1CxZc5Me8d2jgSCdmCWtAZp" width="20%"><br><br>

                <strong>candidate- </strong>a person who applies for a job <br><br>
                <em>He is the best candidate for the management position.</em><br>
                <img src="https://lh3.googleusercontent.com/5EKaVnXAP5edyF3zxaBVwfbx4SAjZtecWgWS_uAdU9VT0YI8JbP9_uHHU4fSn5k3T3CHy1g5-qaHBrUKVg82h4rowVbcMiRF_z_wJ_FnuFhp1WRQUCmrW3KjpapLPJtypnkU_gO-" width="20%"><br><br>


                <strong>qualifications- </strong>a quality or accomplishment that makes someone suitable for a particular job or activity. <br><br>

                <em>Only one qualification required—a fabulous sense of humor.</em><br>
                <img src="https://lh3.googleusercontent.com/mD_JR2Krllm254CyFe58PieWAi5ajj44UwraiXusIQKhQHVtxN_RaTiWONt_cNW3st47reiN-TZDxD4ZZIXgGi0y1RP0QmRoan7ClqlHnKoqh7V5mhr11EIL9KkWyKgtt_hjmStw" width="20%">


            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#business1">Close</button><br>
            <hr>
         </div>

          <br><p>Resume and Its Example  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#business2">Show contents</button></p>
            <div id="business2" class="collapse">
              <br><br>

              <strong>What is a RESUME?</strong><br>
              <em>Your resume is often the first document that an employer would typically look at, so it serves as your first impression in the employment process.  <br> A well-written and formatted resume tells the employer a lot about your professionalism, and improves the chances for receiving an interview.</em><br><br>

              <strong>Example Resume:</strong> <br><br>
              <img src="https://lh5.googleusercontent.com/HdWf7sop81cG0hrnd4rGtYjjY0UovJvB3uoV1Z5e18R7rzc1neHtlQTyxZkqm7JTA1s2steC8OMm2WLQ1NVwPklDkC9Vpme_O9YIoRsNcT5y0jv16Lg1KB8sUtPzb-VWyURiRY_cPpVmm3PLOw" width="30%"><br><br>

              <strong>Warm-up Question</strong><br><br>

              <strong>Asked the student the following questions below:</strong><br><br>

              <p>1. When was the last time you have made a CV or a Resume? <br>
                2. What is the importance of writing the right RESUME? <br>
                3. What are the common Job interview questions realated to your Resume? <br></p><br>
              <div class="row">
                <div class="col-md-6">
                <h3>Do this...</h3><br><br>
                <p>• Be positive <br>
                  • Look forward to the future <br>
                  • emphasize the benefit you will bring to an employer. <br>
                  • use active verbs. <br>
                  • keep to the point. Be relevant. <br>
                  • create an organized layout. <br>
                  • be neat. <br>
                  • use good quality paper. <br>
                  • use a word-processor (computer). <br>
                  • use wide margins. <br>
                  • use plenty of white space. <br>
                  • use a good quality photo (if you use a photo) <br>
                  • check your work for spelling errors. <br>
                  • check your work for grammatical errors. <br>
                  • ask a friend to look at your CV and letter. <br>
                  • sign your letter with a fountain pen. <br></p>
                </div>
                <div class="col-md-6">
                <h3>Don't do this...</h3><br><br>
                <p>• Don't look backward to the past. <br>
                  • Don't write CV or Resume at the top. <br>
                  • Don't write Mr, Mrs or Miss in front of your name. <br>
                  • Don't give personal details (place of birth, age etc) <br>unless necessary. <br>
                  • Don't give full addresses of past employers. <br>
                  • Don't give minor or unimportant school qualifications. <br>
                  • Don't give lots of irrelevant or unimportant hobbies. <br>
                  • Don't write names in capital letters. <br>
                  • Don't use lots of different typefaces (fonts) and sizes. <br>
                  • Don't use lots of capital letters, italics or fancy typefaces. <br>
                  • Don't use colored paper. <br>
                  • Don't make your CV/resume more than 2 pages. <br></p>
                </div>
                </div><br><br>

                <strong>Speaking Matters</strong><br><br>

                <strong>Ashley: </strong>What is the best way to find a job here? <br>
                <strong>Brian: </strong>There are different ways of conducting a job search. Do you know what <br>you want to do? <br>
                <strong>Ashley: </strong>I don't know. <br>
                <strong>Brian: </strong>Can you work part-time or full-time? <br>
                <strong>Ashley: </strong>It doesn't matter right now, either one would be OK. <br>
                <strong>Brian: </strong>The binders have current local jobs listings and the computer jobs <br>lists are good too. <br>
                <strong>Ashley: </strong>OK, I'll go check it out. <br>
                <strong>Brian: </strong>Schedule an appointment with a counselor and you can get more information. <br> Would that work for you? <br>
                <strong>Ashley: </strong>I am not sure. <br>
                <strong>Brian: </strong>Everything that you need for a successful job search is here. <br>
                <strong>Ashley: </strong>I am not sure what to do to get ready for my job interview. <br>
                <strong>Brian: </strong>Make sure that you understand the company. Do you understand what it is that they do? <br>
                <strong>Ashley: </strong>No, I probably need to do some more research. <br>
                <strong>Brian: </strong>When you've finished your research it will help you figure out whether your company is rigid in philosophy <br> or kind of more relaxed. Does that make sense? <br>
                <strong>Ashley: </strong>I think that their attitude is rather casual. <br>
                <strong>Brian: </strong>So all of that information will help you to pick out what to wear. Do you have something to wear? <br>
                <strong>Ashley: </strong> I have absolutely nothing so far. <br>
                <strong>Brian: </strong>I could go shopping with you sometime if you need it, but can we talk about other basics? <br>
                <strong>Ashley: </strong>Yes, where should we go from here? <br>
                <strong>Brian: </strong>Focus on being relaxed and open, don't forget to smile and shake hands and be genuinely interested in what <br> their company is about. I'm sure you'll do well. <br>
                <strong>Ashley: </strong>What should I do to prepare for a job interview? <br>
                <strong>Brian: </strong>An understanding of the basic workings of a company and the services or goods it <br> provides is essential. Do you have that?<br>
                <strong>Ashley: </strong>Sort of, but I could know more, I guess. <br>
                <strong>Brian: </strong>With that understanding, you can figure out what your company is looking for in <br> terms of basic attitude. Right? <br>
                <strong>Ashley: </strong>I think that they are a very formal company. <br>
                <strong>Brian: </strong>What you wear is important. So keep in mind what is suitable for the company and <br> type of work you will be doing. Need help? <br>
                <strong>Ashley: </strong>I need a lot of help in this area. <br>
                <strong>Brian: </strong>In addition to clothes we need to think about other basics, OK? <br>
                <strong>Ashley: </strong>Yes, what else should we think of?<br>
                <strong>Brian: </strong>Be prompt. Don't forget to be friendly and interested. Listen carefully and listen <br> to what they are really asking you. You'll be a hit!<br><br>


                <em>Question: </em><br>
                <br>
                <p>1. What was Ashley’s problem? <br>
                  2. Was Brian helpful? <br>
                  3. Why Ashley was hesitant to look for a job? <br>
                </p><br><br>

                <h3>Vocabulary</h3>
                <br><br>

                <strong>1. Resume- </strong>Formal presentation of a job applicant's education, skills, and work experience. <br>
                <strong>2. Job- </strong>a task performed by an employee in an exchange for pay <br>
                <em>Example: </em><br><br>
                <p>The young man chose to find a job so that would allow him to learn responsibility and also allow him to be compensated for his work. <br>
                If you are trying to find a new job you must present yourself in the appropriate way so that the company can see the real you. </p><br><br>
                <strong>3. Counselor- </strong>a person who provides advice as a job  <br>
                <p>He works as a camp counselor</p><br><br>

                <strong>4. Applicant- </strong>a person who applies for something <br><br>
                <em>Example: </em><br><br>
                <p>I made sure that I was qualified for the job before becoming an applicant at the new <br> car manufacturing plant opening up.</p><br><br>




            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#business2">Close</button><br>
            <hr>
         </div>



          </div>
        </div>
      </div>
   </div>  
</div>
