 <p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="hidden-xs">Daily English<span class="pull-right glyphicon glyphicon-comment"></span></h3></div>
          <div class="panel-body">

            <br><p>Hailing a taxi   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de1">Show contents</button></p>
            <div id="de1" class="collapse">

              <br>
              <img src="https://lh4.googleusercontent.com/VlxoF6xNCY1CHQciQaVPJVnJ01qOn5pXdSw9XxfMnSMJo9jThIPxv5lQYTM3iIVLRtqnnkXB4vXWzNuVFrOkEKWvUyjaVH0KdSWO7sVKUaO8dEmRIrAmMdGcyt_Emqwgs4gjd6NL" width="50%" alt="Error Loading Img"><br><br>

              <strong>WARM UP:</strong><br>
              <p>Describe the picture.</p><br><br>


              <strong>Answer the questions below:</strong><br><br>
              <p>1. How often do you take a taxi? <br>
                2. Do you have any ‘taxi stories’? <br>
                3. Are there enough taxi cabs in your town? <br>
                4. What do you think of taxis in other countries? <br></p><br>

              <strong>Language Work</strong><br><br>

              <strong>Vocabulary:</strong><br><br>
              <strong>Cab- </strong> Short for taxi cab. <br>
              <strong>Miss- </strong>addressing a woman who is not yet married <br>
              <strong>Hailing a taxi- </strong>When you stop a taxi on the street and get in <br><br>


              <strong>Words you may need to know</strong><br><br>
              <strong>Meter- </strong>the machine that reads the distance and calculates the cost <br>
              <strong>Fare- </strong>the amount you must pay <br>
              <strong>Tip- </strong>the extra money you offer for safe, friendly, and prompt service <br>
              <strong>Pick up- </strong>the taxi picks you up at your current location <br>
              <strong>Drop off- </strong>the taxi drops you off at your destination <br>
              <strong>Van- </strong>a larger taxi that has more seats <br><br>


              <strong>Asking where to find a taxi</strong><br>
              <img src="https://lh6.googleusercontent.com/RFpvey3cahgAZ34BirnmxCHQvFKbhS5tmc8EZmpWjsIoaTtha7zF-JC-nxX2G7jFyLT6cY5xOaewLU7-odhn1HrKrODvqhxjKokfnn33Bp1-OSLbtVRQIirFyjEykoRxRttGHdIS" width="50%" alt="Error Loading Img"><br><br>

              <strong>Akiko: </strong>Hello Miss! Where can I find a cab? I would like to go to Parky Hotel and Resort.  <br>
              <strong>Woman: </strong>You go straight on that road you can see a big acacia tree. There is a green waiting shed. It’s a cab stop. <br>
              <strong>Akiko: </strong>I don’t understand. Could you please repeat that? <br>
              <strong>Woman: </strong>(smiling) On that road you can see a big tree and a green waiting shed. Just wait for a cab there. (actioning) <br>
              <strong>Akiko: </strong>Oh, thank you very much for your help. I don’t speak English very well. <br>
              <strong>Woman: </strong>No problem! My pleasure. Enjoy your stay here.  <br>
              <strong>Akiko: </strong>Thank you for your kindness! <br><br>

              <strong>In the taxi cab</strong> <br>
              <img src="https://lh6.googleusercontent.com/ahQW3Y6jSr1A-eYsuG9UNFb65JT8upaLBbbpf8h80PKCX5YAYMw5TmbObokREBCdXwrxpkA5KoUqQJVzPxoBYD3Hfj6ImjX_kp3PzmJ1lN_hVtjcPH2nKKyZr-bSOi1Zd2Db2n9c" width="50%" alt="Error Loading Img"> <br><br>

              <strong>Akiko: </strong>(Before getting in the cab) Could you take me to Parky Hotel and Resort? How much will that cost? Do you use a meter? <br>
              <strong>Driver: </strong>Yes madame, I can take you to Parky Hotel and Resort and yes we will use the meter so the cost will depend on how far is our destination. <br>
              <strong>Akiko: </strong>(Getting in the cab) Ok thank you. Can we drive past Magellan Cross on the way? <br>
              <strong>Driver: </strong>Yes madame, no problem. <br>
              <em>Arriving at the hotel...</em><br>
              <strong>Akiko: </strong>How much do I owe you? <br>
              <strong>Driver: </strong>Just P157.50 madame. <br>
              <strong>Akiko: </strong>Here you are. That is P200 just keep the change. Thanks for the ride and enjoy your day! <br>
              <strong>Driver: </strong>Thank you madame! Likewise, enjoy your stay! <br><br>


              <strong>Role Play with your teacher using the phrases and scenarios below:</strong><br><br>

              <strong>Useful Phrases to take a taxi</strong><br><br>

              <em>Situation: </em><br><br>
              <p>Calling for a taxi <br>
                -The most common way of booking a taxi is on the phone. When you call up the taxi company,  you can ask to book a taxi at a certain time. <br></p>

              <strong>Phrases to Use:</strong><br><br>
              <p>1. May I book a taxi at (time)? <br>
                2. When is the soonest I could book a taxi for? <br>
                3. “I’m at (address)” <br>
                4. Could you send the taxi to (address)?” <br>
                5. I’d like to go to (address)” <br>
                6. How much will that cost?” <br></p>

              <em>Situation: </em> <br><br>
              <p>In a hotel <br>
                - You are staying at a hotel and would like to ask a hotel employee to organize a taxi for you. <br></p>

            <strong>Phrases to use:</strong><br><br>
              <p>1. Could you organize a taxi for me for this evening please? <br>
                2. I need to be picked up at (time) to go to (place). <br>
                3. Excuse me, could you hail a taxi for me please? <br>
              </p>


              <em>Situation:</em><br><br>
              <p>Hailing a taxi <br>
                When you stop a taxi on the street and get in, it’s called ‘hailing’ a taxi. </p>
                <em>Phrases to use:</em><br>
                <p>Could you take me to (place)? <br>
              </p>  

              <p></p>




             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de1">Close</button><br>
            <hr>
         </div>

          <br><p>Shopping, complaints, returning items and souvenirs  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de2">Show contents</button></p>
            <div id="de2" class="collapse"><br><br>
            <em>Objectives: Student will be able to use a number of phrases related to shopping. They will also recognize and use a limited number of words related to returning items.</em><br><br>


            <img src="https://lh5.googleusercontent.com/RIT_z45oV3Fbq-oPHeC01IXNv3ZXIt6psa9rIZNWJkxt9-bTvX5juWpryllLPswFqYZvkfSWT5rFwcPk80Vr7motp-6J46DRjxSdkkX7Fl3Qaaph6peZaXzh--rNJDFeqM5RWpWy" width="50%"><br><br>


            <strong>Warm-Up</strong><br><br>

            <em>Describe the picture below:</em><br><br>
            <img src="https://lh3.googleusercontent.com/fKAoAfQrHpJdLEh9ap85ethZmf4Vwe-fxfWupX-A2uT9lVSXC8xbp0kYoXPWcsOAUL3PvW_-hXJnRCsyWaixbsruEVIRmFYIUhV3aJvDWPtVMO2T0dbFYeb5akIH3yDD03s98j7_" width="50%"><br><br>

            <strong>Answer the questions below:</strong><br><br>

            <p>1. Do you enjoy shopping? <br>
              2. Where is your favorite shopping area? <br>
              3. Who do you often go shopping with? <br></p><br>

            <strong>Language Work</strong><br><br>

            <p>1. How much are the… (blue jeans)? <br>
              2. Do you have this in… (a larger size)? <br>
              3. Revealing= (of an item of clothing) allowing more of the wearer's body to be seen than is usual. <br>
              4. Polka dot = is a pattern consisting of an array of filled, large in size, circles. <br>
              5. Pricey = expensive  <br></p><br>


            <strong>MALLING</strong><br><br>
            <img src="https://lh5.googleusercontent.com/k24Xu1WszXLErSx1uU2jckJR0Qgl6QiPZaRYkmQ0Ius5FWDNMFyX37tkdCbGpDTn8qlEPb1tDIXsIH6XB5ZvS07P4e3VO7CBijyEr0OYyLnBvqU9OmCP0AwBNI4sqsPjgp6gRB_x" width="50%"><br><br>

            <strong>Staff (S): </strong>Welcome to H&M. How may I help you? <br>
            <strong>Akiko (A): </strong>I’m looking for a bathing suit? <br>
            <strong>S: </strong>A one piece, two piece, or a bikini? <br>
            <strong>A: </strong>A two piece, but not too revealing. <br>
            <strong>S: </strong>We have some over here. <br>
            <strong>A: </strong>That blue and white polka dot one looks nice. How much is it? <br>
            <strong>S: </strong>It’s P1,201.60. <br>
            <strong>A: </strong>That’s a bit pricey, but I’ll take it. <br><br>


            <em>Looking for another size</em><br><br>

            <strong>Guest (G): </strong>Excuse me, do you have any pink T-shirts? <br>
            <strong>Staff (S): </strong>Yes ma’am, they are right over there. <br>
            <strong>G: </strong>Thanks. Do you have any bigger ones? <br>
            <strong>S: </strong>Let me check in the back. I’ll return in a moment. <br>
            <strong>G: </strong>Thanks. <br>

            <em>Window Shopping:</em> <br><br>

            <strong>S: </strong>Good afternoon, may I be of assistance? <br>
            <strong>G: </strong>No thanks, just looking around. <br>
            <strong>S: </strong>OK, if you need anything, just let me know. <br>
            <strong>G: </strong>Oh, I will. <br><br>


            <strong>Returns and Complaints: </strong><br><br>
            <img src="https://lh6.googleusercontent.com/48wtn66kSuU7eu5uxr4CKEaGT3VPE0slsFxiI1fcUp9BUhJzhvqstpCBGq00iDWB-VLdBNHMytAcoWMl4tsWufhMp715Tq7UXiwlroksS5cjTMW7tcgwoNpcp5JuRcKOLwfJYw5-" width="30%"><br><br>

            <p>1. Who can I speak to about making a complaint? <br>
              2. Could I have a refund please?<br>
              3. Can I speak to the manager please? <br>
              4. I’d like to return this please. <br>
              5. I’d like to make a complaint. <br>
              6. I’d like to change this for a different size please. <br></p><br>

            <strong>Souvenirs</strong><br><br>
            <img src="https://lh4.googleusercontent.com/8OkwUoY4N6SV7TRboVm2hHrQP1HL0QnKR-ot0B9AihWjetL-fB4UP4Qd4GmVeVnhY57-NoGvf1b3qwFoJC1J3IIkhES56_CpUsykfALw_5iKFbj0LJlgO-P19olbTc0herGgm9Cm" width="40%"> <br><br>

            <strong>Akiko (A): </strong>Let's stop and look at the souvenirs at the souvenir stand. <br>
            <strong>Danna (D): </strong>What types of souvenirs were you looking for? <br>
            <strong>A: </strong>When I travel, I usually like to bring back a special necklace or clothing. I end up buying a lot of stuff <br>s for the kids in my family. Do you like to do that, too? <br>
            <strong>D: </strong>My family loves for me to take trips so they can get the goodies I bring them. <br>
            <strong>A: </strong>What types of things do they like? <br>
            <strong>D: </strong>The little kids like little trinkets, like those little shell animals over there. <br>
            <strong>A: </strong>I feel like this stuff is kind of overpriced. <br>
            <strong>D: </strong>Some souvenir stands charge more than others, so it pays to shop around. <br>
            <strong>A: </strong>Why don't we try checking prices a little farther away from the tourist section? <br><br>

            <img src="https://lh4.googleusercontent.com/hRD0MQFrXzgbzXcDCHiQ2ZDTOTyhJQgR5Ujts2JQhh_3Y2Y7LggNMnrqOsRLWlRsnl4MWjlTjee1_-MkZVH45MYnOZlOeF7BHpPrf6rfOWmr-EZd34e8nEZh_p-ySkJC_m6s3cLt" width="40%"><br><br>


            <h3>Vocabulary: </h3><br>


            <blockquote>
                <p>guarantee</p>
                <small>A warranty is usually a written guarantee for a product and declares the maker’s responsibility to repair or replace a <br> defective product or its parts.</small>
            </blockquote><br>


            <blockquote>
                <p>Queue</p>
                <small>A line or sequence of people or vehicles awaiting their turn to be attended to or to proceed.</small>
            </blockquote><br>

            <blockquote>
                <p>Can</p>
                <small>Can could be use in permission but informal way.</small>
            </blockquote><br>

            <blockquote>
                <p>May</p>
                <small>May could be use in permission but in a formal way.</small>
            </blockquote><br>



             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de2">Close</button><br>
            <hr>
         </div>


          <br><p>Fast Food and Restaurant  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de3">Show contents</button></p>
            <div id="de3" class="collapse"><br><br>
              <img src="https://lh4.googleusercontent.com/Bvz3Uvel0pJ8EM0nAR2OcsNc7W4zTDhxzAaTQuKSZe7g655n6YlDHl347Xp_Z5W_h_-lv3TnDKmiL_n2LSes_DuAVbHp-BAgft3UGsySUfFjyX0CZioyhfvKTTANUAz5XGT4ObDI" width="50%"><br><br>

              <strong>WARM UP</strong><br><br>
              <em>Describe the picture: </em><br><br>
              <img src="https://lh3.googleusercontent.com/-J5gzdQolsWUYkZv8AHZ0KnyFjBr40_YR0Qd3asYafBR5oIBtukkTk-sj64zxKloYmpgQXOqaW_59Ih7Et0PPQ1EU5dAjlroHUAaZ2NspyBqUIZEbYw_2lJaAZMu_ZOwdJ6MnvHn" width="50%"><br><br>


              <strong>Questions: </strong><br><br>
              <p>1. What is your least favorite fast food restaurant and why? <br>
                2. Does fast food taste good or bad? Why? <br>
                3. Why is fast food so popular? <br>
                4. How often do you eat fast food? What do you usually eat? Where? <br>
                5. What is a food that people think is healthy but really isn’t? <br></p><br>


              <strong>Language Work</strong><br><br>

              <p>1. For here = dine in; eat in <br>
                2. To go= take out; carry out <br>
                3. S M L XL = Small, Medium, Large, Extra Large <br>
                <em>Additional Infomation:</em> <br>
              4. set meals = a complete meal in a restaurant <br>
              5. Combo = Some places have special “combos” short for combinations <br>
              6. Fountain drink =machines where you can pour yourself a soft (usually carbonated) drink. <br>
              7. Sides = The main part of a meal is called the main dish. Smaller items and snacks that are served <br> with the main dish are called side dishes or sides. <br>
              8. Condiments = Condiments are sauces and other things that are added after food is cooked to add to or enhance its flavor. Some condiments <br> you probably know are ketchup, mustard, hot sauce, salt and pepper. <br>
              9. Dressing = No, this isn’t about putting on clothes! Salad dressing is the sauce you add to a salad for flavor, like ranch dressing. <br></p><br>


            <strong>Ordering Fast Food:</strong><br><br>

            <strong>Clerk (C): </strong>Welcome to Jollibee, what would you like to order? <br>
            <strong>Akiko (A): </strong>I would like to get a spaghetti and chicken. <br>
            <strong>C: </strong>Do you want any fries? <br>
            <strong>A: </strong>I want large curly fries.  <br>
            <strong>C: </strong>Can I get you anything to drink? <br>
            <strong>A: </strong>Sure, how about a medium Coke? <br>
            <strong>C: </strong>Is that everything? <br>
            <strong>A: </strong>That will be all. Thanks. <br>
            <strong>C: </strong>Is it for here or to go? <br>
            <strong>A: </strong>Just to go. Thank you. <br>
            <strong>C: </strong>You're welcome, and your total bill is P150. <br>
            <strong>A: </strong>Thank you. Here you are. <br><br>










             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de3">Close</button><br>
            <hr>
         </div>

         <br><p>Money Exchange  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de4">Show contents</button></p>
            <div id="de4" class="collapse"><br><br>
              <img src="https://lh6.googleusercontent.com/EGMH9aLaXEbkV31EOwUYqYkjP2aThSxZM1km_ygQaDBDS4FsyYqAALuBu5VnHOkz9pSzppRxBE7broNIxvmgYhk0gKsA-UmvljZXs3xgpqYjbcpNlM-82Vvuv3xspZrvSlbW8-NI" width="50%"><br><br>

            <strong>Language Work: </strong><br><br>

            <p>1. Foreign currency = is the exchange of one currency for another or the conversion of one currency into another currency. <br>
              2. Photocopy =  copy of printed or written material <br>
              3. Exchange rate = the value of one currency for the purpose of conversion to another. <br>
              4. Double check = go over (something) for a second time to ensure that it is accurate or safe. (check again) <br>
            </p><br>


            <h3>Money Exchange</h3><br>
            <img src="https://lh3.googleusercontent.com/Z0ES0tpLC5UFk5ODK64J_ephBe23rNW6Ylq8E7K7OGgAylUxv-3bUW-ViKPV2xqAoqIPH1ZvNGkMLidYIecP8A01HCg8zdUrUIIrP0MeYPWSvYXl1Nmpeh_UQ5VYEGaEh3edqj-3" width="50%"><br><br>
            <strong>Role-play with the scenario below:</strong><br><br>

            <strong>Akiko (A): </strong>Good morning. Do you exchange foreign currency? <br>
            <strong>Teller (T): </strong>Yes, we can exchange foreign currency here. <br>
            <strong>A: </strong>How much is your exchange rate for Japanese yen to Philippine peso? <br>
            <strong>T: </strong>The exchange rate for 1 Japanese yen to peso is about 0.45. <br>
            <strong>A: </strong>I see, I would like to exchange 30,000 yen. <br>
            <strong>T: </strong>Ok ma’am. Do you have an ID or passport with you? <br>
            <strong>A: </strong>Yes, I have a photocopy of my passport here. Here you are. <br>
            <strong>T: </strong>Thank you, ma’am. You will receive 13,454.14 Pesos. Kindly count and double check your money before leaving. <br>
            <strong>A: </strong>Yes it’s fine. Thank you! <br>
            <strong>T: </strong>My pleasure. Have a good day! <br>
            <br>

            <strong>Follow along how Hiro-san transacted with the local money exchange shop.</strong><br><br>

            <strong>Hiro (H): </strong>Good morning, I am hoping you can help me. Does this bank exchange foreign currency? <br>
            <strong>Teller (T): </strong>Yes, you can exchange your money here <br>
            <strong>H: </strong>Do you exchange foreign currency? <br>
            <strong>T: </strong>We can exchange your currency. <br>
            <strong>H: </strong>What is your exchange rate for the Thai baht? <br>
            <strong>T: </strong>The exchange rate for Thai Baht is  1 pound for every Thai Baht. <br>
            <strong>H: </strong>Can you tell me what the exchange rate for the Euro? <br>
            <strong>T: </strong>10,000 Baht at the current exchange rate of 49 baht to every pound is two hundred and four pounds and eight pence. <br>
            <strong>H: </strong>I would like to exchange 10,000 Baht, please.Will I able exchange foreign currency? <br>
            <strong>T: </strong>Here is your cash.Please count your cash before leaving the counter <br>
            <strong>H: </strong>Can I cash my traveler's checks here? Will this bank let me cash my traveler's checks? <br>
            <strong>T: </strong>Only out main banks on the high streets can exchange traveler's checks. <br>
            <strong>H: </strong>Thanks for your help, have a good day. <br><br>


             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de4">Close</button><br>
            <hr>
         </div>



            <br><p>Asking Directions  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de5">Show contents</button></p>
            <div id="de5" class="collapse"><br><br>
            <img src="https://lh6.googleusercontent.com/nJa8YPuRVRYnx6PmrpGbVAtQ9Vq9Q7OPTyCxiOKN23r98iLCI01IiDIdAD2a00jj4Uux9Mz2d-BVJF8aZ5AghUCpdwqlpjBlpg9xuLxDpddZne59k2GzuUi0_LF0loZKyHJ4aFFZ" width="50%"><br><br>

            <strong>Language Work</strong><br>
            <p>1. Where is (the) . . . ? (This is also used in asking about location.) <br>
              2. How do you get to (the) . . . (from here)? <br>
              3. How do I get to (the) . . . ? <br>
              4. Can you tell me how to get to (the) . . . ? <br>
              5. Could you tell me ... is slightly more polite than “Can you tell me ...?” <br>
              6. Can you give me directions to (the) . . . ? <br>
              7. What's the best way to get to (the) . . . ? <br>
              8. I know how you feel, is a way of saying“I understand.”Notice the emphasis on“feel.” <br>
            9. Yes, it’s that way. Notice the stress on “that.” The speaker is pointing in a certain direction and wants to emphasize that direction. <br></p><br>

            <strong>Could you tell me where the library is?</strong><br><br>
            <img src="https://lh4.googleusercontent.com/TZvaMsJ-_S1vGx5SQOe71-av5sSd-Yr7sIspi8RkDH6rgFFBFytspJqgxGtieB1pYDr4tP5foHa99L1e8q7EwxNEWlhANy-LLjwxOQLLAjkfcLnsUp2NbJz1dfRT4MATzTYVVJBN" width="50%"><br><br>

          <strong>Mark (M): </strong>Excuse me. Could you tell me where the ice library is? <br>
          <strong>Nancy (N): </strong>Yes, it’s that way. You go 3rd floor, then turn right. It’s around the corner, across from the Asian Cuisine Restaurant. <br>
          <strong>M: </strong>Thanks! I’ve only been in town a few days, so I really don’t know my way around yet. <br>
          <strong>N: </strong>Oh, I know how you feel. We moved here a year ago, and I still don’t know where everything is! <br><br>


          <strong>How can I get to (the) . . . ?</strong><br><br>
          <img src="https://lh5.googleusercontent.com/LC1dzUeSfi7MyYiCQqZjdiWyErkZqFl30RBCMMraunJOiu29JmjkDQwHJcaoCO0Pf6BPB9VtllS4oIRheCJfyYLPTTb3RjdvidXhow9vQrxzFgWNAMgCf_zK2WKVX183w51yb8jr" width="50%"><br><br>

          <strong>Akiko (A): </strong>Excuse me, I’m sorry to trouble you, but could you tell me how can I get to Ayala Mall? <br>
          <strong>Man (M): </strong>Yes no problem, it's that way. Keep walking straight ahead then after you pass the gasoline station you have to turn <br>left then take your first right and it's across from the Metro Bank <br>
          <strong>A: </strong>Thank you so much! I have only been in Cebu for 2 days, so I don't know how to get anywhere yet. <br>
          <strong>M: </strong>Oh, I know that feeling. I and my wife moved here 6 months ago, and I still don't know how to find certain places! <br>
          <strong>A: </strong>So just to double check. Keep walking straight ahead till I pass the gasoline station, then I have to turn left and take the <br> first right. Then across the Metro Bank. Is that correct? <br>
          <strong>M: </strong>Yes, that is correct. <br>
          <strong>A: </strong>Well thanks for helping me. I must go. <br>
          <strong>M: </strong>Ok, bye. <br><br>








             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de5">Close</button><br>
            <hr>
         </div>

          </div>
        </div>
      </div>
   </div>  
</div>