 <p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="hidden-xs">Daily English<span class="pull-right glyphicon glyphicon-comment"></span></h3></div>
          <div class="panel-body">

            <br><p>Hailing a taxi   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#de1">Show contents</button></p>
            <div id="de1" class="collapse">

              <br>
              <img src="https://lh4.googleusercontent.com/VlxoF6xNCY1CHQciQaVPJVnJ01qOn5pXdSw9XxfMnSMJo9jThIPxv5lQYTM3iIVLRtqnnkXB4vXWzNuVFrOkEKWvUyjaVH0KdSWO7sVKUaO8dEmRIrAmMdGcyt_Emqwgs4gjd6NL" width="50%" alt="Error Loading Img"><br><br>

              <strong>WARM UP:</strong><br>
              <p>Describe the picture.</p><br><br>


              <strong>Answer the questions below:</strong><br><br>
              <p>1. How often do you take a taxi? <br>
                2. Do you have any ‘taxi stories’? <br>
                3. Are there enough taxi cabs in your town? <br>
                4. What do you think of taxis in other countries? <br></p><br>

              <strong>Language Work</strong><br><br>

              <strong>Vocabulary:</strong><br><br>
              <strong>Cab- </strong> Short for taxi cab. <br>
              <strong>Miss- </strong>addressing a woman who is not yet married <br>
              <strong>Hailing a taxi- </strong>When you stop a taxi on the street and get in <br><br>


              <strong>Words you may need to know</strong><br><br>
              <strong>Meter- </strong>the machine that reads the distance and calculates the cost <br>
              <strong>Fare- </strong>the amount you must pay <br>
              <strong>Tip- </strong>the extra money you offer for safe, friendly, and prompt service <br>
              <strong>Pick up- </strong>the taxi picks you up at your current location <br>
              <strong>Drop off- </strong>the taxi drops you off at your destination <br>
              <strong>Van- </strong>a larger taxi that has more seats <br><br>


              <strong>Asking where to find a taxi</strong><br>
              <img src="https://lh6.googleusercontent.com/RFpvey3cahgAZ34BirnmxCHQvFKbhS5tmc8EZmpWjsIoaTtha7zF-JC-nxX2G7jFyLT6cY5xOaewLU7-odhn1HrKrODvqhxjKokfnn33Bp1-OSLbtVRQIirFyjEykoRxRttGHdIS" width="50%" alt="Error Loading Img"><br><br>

              <strong>Akiko: </strong>Hello Miss! Where can I find a cab? I would like to go to Parky Hotel and Resort.  <br>
              <strong>Woman: </strong>You go straight on that road you can see a big acacia tree. There is a green waiting shed. It’s a cab stop. <br>
              <strong>Akiko: </strong>I don’t understand. Could you please repeat that? <br>
              <strong>Woman: </strong>(smiling) On that road you can see a big tree and a green waiting shed. Just wait for a cab there. (actioning) <br>
              <strong>Akiko: </strong>Oh, thank you very much for your help. I don’t speak English very well. <br>
              <strong>Woman: </strong>No problem! My pleasure. Enjoy your stay here.  <br>
              <strong>Akiko: </strong>Thank you for your kindness! <br><br>

              <strong>In the taxi cab</strong> <br>
              <img src="https://lh6.googleusercontent.com/ahQW3Y6jSr1A-eYsuG9UNFb65JT8upaLBbbpf8h80PKCX5YAYMw5TmbObokREBCdXwrxpkA5KoUqQJVzPxoBYD3Hfj6ImjX_kp3PzmJ1lN_hVtjcPH2nKKyZr-bSOi1Zd2Db2n9c" width="50%" alt="Error Loading Img"> <br><br>

              <strong>Akiko: </strong>(Before getting in the cab) Could you take me to Parky Hotel and Resort? How much will that cost? Do you use a meter? <br>
              <strong>Driver: </strong>Yes madame, I can take you to Parky Hotel and Resort and yes we will use the meter so the cost will depend on how far is our destination. <br>
              <strong>Akiko: </strong>(Getting in the cab) Ok thank you. Can we drive past Magellan Cross on the way? <br>
              <strong>Driver: </strong>Yes madame, no problem. <br>
              <em>Arriving at the hotel...</em><br>
              <strong>Akiko: </strong>How much do I owe you? <br>
              <strong>Driver: </strong>Just P157.50 madame. <br>
              <strong>Akiko: </strong>Here you are. That is P200 just keep the change. Thanks for the ride and enjoy your day! <br>
              <strong>Driver: </strong>Thank you madame! Likewise, enjoy your stay! <br><br>












             <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#de1">Close</button><br>
            <hr>
         </div>






          </div>
        </div>
      </div>
   </div>  
</div>