<p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="hidden-xs">Idiomatic Expression<span class="pull-right glyphicon glyphicon-book"></span></h3></div>
      <div class="panel-body">
          <br><p>Phrases A & B   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom1">Show contents</button></p>
          <div id="idiom1" class="collapse">
              
              <blockquote>
                <p>About time</p>
                <small>an underground station where underground trains depart and leave, esp in London</small>
              </blockquote>

            <strong>Conversation:</strong><br><br>
            <strong>A: </strong>Don’t you want to get a job so you can save money for yourself? <br>
            <strong>B: </strong>I know. It’s about time I’ll look for a job. <br><br>

            <em>use 'about time' in your own sentence</em><br><br>
            
            <hr><br>

            <blockquote>
                <p>All the best</p>
                <small>You can say this to wish someone good luck when you're saying good-bye.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>
            <strong>A: </strong>Are you leaving for England early tomorrow? <br>
            <strong>B: </strong>Yes, I might stay there for a year. <br>
            <strong>A: </strong>Oh I see. I wish you all the best. <br><br>


            <em>Use 'all the best' in your own sentence</em><br><br>

            <hr><br>

            <blockquote>
                <p>All well and good</p>
                <small>You can say this about something that's good, but not exactly what's needed or not all that's needed.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>How was your presentation yesterday? <br>
            <strong>B: </strong>It’s all well and good. <br><br>

            <em>use 'all well and good' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>Allow me </p>
                <small>This is a polite thing to say when you're offering to help someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>This books are so heavy, I think I can’t open the door. <br>
            <strong>B: </strong>No problem, allow me. <br><br>

            <em>use 'allow me' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>As a matter of fact</p>
                <small>You can say this when you're adding information, or when you're correcting wrong information.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You told me about the nice places in Cebu. My friend said maybe it wasn’t true. <br>
            <strong>B: </strong>It is true! As a matter of fact, I can show you pictures and videos when I went there. <br><br>

            <em>use 'as a matter of fact' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>As far as I know</p>
                <small>You can say this when telling someone what you know so far, when there could be other facts you don't know.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>How much is the population of Japan this year? <br>
            <strong>B: </strong>I’m not sure but as far as I know it was around 126 million plus. <br><br>

            <em>use 'as far as I know' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>As far as I’m concerned</p>
                <small>You can say this when giving your personal opinion or views about something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Is this place good for dinner? <br>
            <strong>B: </strong>Definitely. As far as I’m concerned, it’s the best restaurant in town. <br><br>


            <em>use 'As far as I'm concerned' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>At Least</p>
                <small>You can use this when mentioning something positive in a generally negative situation or context.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Oh no! It’s raining outside.<br>
            <strong>B: </strong>At least we have a board game to play inside while waiting for the rain to stop.<br><br>


            <em>use 'at least' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>At the Same Time</p>
                <small>You can use this to introduce another fact or view that should be considered alongside those already mentioned.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I was cleaning the house because it was so messy, at the same time I was cooking dinner for my kids. <br> When they arrived, everything was clean and ready.<br><br>


            <em>use 'at least' in your own sentence</em><br><br><hr><br>            

            <blockquote>
                <p>Back in the old days</p>
                <small>You can say this if you're talking about a time long ago, or a time much earlier in your life.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>How do you think children are playing long time ago?<br>
            <strong>B: </strong>Well, back in the old days, children can go outside to play.<br><br>


            <em>use ' back in the old days' in your own sentence</em><br><br><hr><br>      


            <blockquote>
                <p>Be my guest</p>
                <small>You can say this instead of "yes" if someone asks you for permission to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Can I come in?<br>
            <strong>B: </strong>Sure! Be my guest.<br><br>


            <em>use 'be my guest' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Be right there</p>
                <small>You can use this to tell someone you'll be with them very soon.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hey, where are you at this moment? Everyone’s waiting.<br>
            <strong>B: </strong>I’ll be right there.<br><br>


            <em>use 'be right there' in your own sentence</em><br><br><hr><br>

            
            <blockquote>
                <p>Be sure to</p>
                <small>You can say this when you're reminding someone to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>What do we need to bring tomorrow?<br>
            <strong>B: </strong>Be sure to bring your notes for the next lesson.<br><br>


            <em>use 'be sure to' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Believe it or not</p>
                <small>You can say this when sharing some unexpected news or surprising information.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Believe it or not, Ayala mall is giving 80% less for all the product.<br>
            <strong>B: </strong>Really? I’d better go there tomorrow.<br><br>


            <em>use 'believe it or not' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Better late than never</p>
                <small>You can say this when you're glad something's happened, but you wish it'd happened sooner.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>So sorry for the late birthday present.<br>
            <strong>B: </strong>It’s okay, better late than never.<br><br>


            <em>use 'better late than never' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Better luck next time</p>
                <small>You can say this to give encouragement or support to someone who's just failed to achieve something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I was so disappointed about my tests result today.<br>
            <strong>B: </strong>That’s okay. Better luck next time.<br><br>


            <em>use 'better luck next time' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Between you and me</p>
                <small>You can say this to someone when you're about to tell them a secret.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Please don’t tell anyone what you have seen.<br>
            <strong>B: </strong>Sure thing. It’s just between you and me.<br><br>


            <em>use 'between you and me' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Bless you</p>
                <small>You can say this to someone after they've sneezed.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>[ Achooooo]<br>
            <strong>B: </strong>Bless you!<br><br>


            <em>use 'bless you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>By the way</p>
                <small>You can say this if you want to mention, or ask about, an unrelated topic, or if you want to change the topic.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I want everyone to pay attention when your instructor comes in. By  the way, don’t forget to clean up this room after your class.<br><br>


            <em>use 'by the way' in your own sentence</em><br><br><br>





            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom1">Close</button><br>
            <hr>
         </div>


         <br><p>Phrases C & D   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom2">Show contents</button></p>
          <div id="idiom2" class="collapse">
              
            <blockquote>
             <p>Can I help you?</p>
             <small>If you work in a shop or a business, you can say this to a customer if you think they might need your help.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Can I help you?<br>
            <strong>B: </strong>Yes please, I’m looking for a green medium size shirt.<br><br>


            <em>use ' can i help you' in your own sentence</em><br><br><hr><br>


            <blockquote>
            <p>Can’t wait / Can hardly wait</p>
            <small>You can say this if you're looking forward to something very much.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>yes, class is over!<br>
            <strong>B: </strong>I know, you can’t wait for your summer vacation.<br><br>


            <em>use ' can't wait' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Chances are</p>
                <small>You can use this instead of "probably" when saying what's likely to happen.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>What if we will just use the plane instead of a bus<br>
            <strong>B: </strong>It’s okay but chances are we cannot have more pictures for this trip on our way.<br><br>


            <em>use 'chances are' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Check this out / Check it out</p>
                <small>You can say this if you're showing something to someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hey Sophie! You were looking for a new LV bag, right? Common! Check this out!<br>
            <strong>B: </strong>Oh, great! Thank you.<br><br>


            <em>use 'check this out' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>Come again?</p>
                <small>You can say this if you don't understand a word or phrase that someone's used.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>The snow is heavy, please hand me the jacket.<br>
            <strong>B: </strong>Can’t hear you well. Come again<br><br>


            <em>use 'come again' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Come on</p>
                <small>You can say this if you're comforting someone who's sad or afraid.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I don’t want you to go away.<br>
            <strong>B: </strong>come on, I’ll only be gone for six months.<br><br>


            <em>use 'come on' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Come on</p>
                <small>You can use this to tell someone to hurry up.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Come on Diane! We will be late for our trip.<br>
            <strong>B: </strong>Just a minute, I’ll be right there.<br><br>


            <em>use 'come on' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Correct me if I’m wrong</p>
                <small>You can say this if there's a small chance you could be wrong, or if you're politely correcting someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>We need to pass through that bridge to get to town.<br>
            <strong>B: </strong>correct me if i’m wrong, but i remember our mom told us to never use that bridge because it’s not safe.<br><br>


            <em>use 'correct me if I'm wrong' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Could have easily</p>
                <small>You can use this when saying that something was very possible, but it didn't happen.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You could have won the game if you were just careful.<br>
            <strong>B: </strong>I know. I’ll better be careful next time.<br><br>


            <em>use 'could have easily' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Cross my heart (and hope to die)</p>
                <small>You can use this to emphasize that you'll do what you promise to do, or that you're telling the truth.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Please don’t forget to bring souvenir for me when you get back from Philippines. I know you are so forgetful.<br>
            <strong>B: </strong>No i won’t forget this time<br>
            <strong>A: </strong>Promise? <br>
            <strong>B: </strong>Cross my heart! <br><br>


            <em>use 'cross my heart' in your sentence</em><br><br><hr><br>


            <blockquote>
                <p>Do I make myself clear?</p>
                <small>You can use this to emphasize your power or authority over somebody.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I need everyone to finish your report by the end of semester. Do I make Myself clear?<br>
            <strong>B: </strong>Yes Mrs. Howard.<br><br>


            <em>use 'do I make myself clear' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Do you mind?</p>
                <small>If someone says this in a friendly way, they're asking for permission to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Do you mind if I take a picture with your cute dog?<br>
            <strong>B: </strong>No, it’s okay.<br><br>


            <em>use 'do you mind' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Don't ask</p>
                <small>You can say this if you don't want to talk about what's happened.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>What did Mr. Lim talk about in the meeting last night?<br>
            <strong>B: </strong>I don’t even understand but don’t ask. Let’s just wait what will happen.<br><br>


            <em>use 'don't ask' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Don’t even think about it</p>
                <small>You can use this to tell someone not to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Wow! This looks yummy! Can i taste it?<br>
            <strong>B: </strong>Oops! Don’t even think about it! It’s for someone special.<br><br>


            <em>use 'don't even think about it' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Don’t get me wrong</p>
                <small>You can say this if you think you might upset or offend someone, esp. when making a suggestion or giving advice.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Why don’t we just spend the night here in your room.<br>
            <strong>B: </strong>Oh, that’s fine with me but don’t get me wrong, my parents are pretty tired today, and they <br> don’t want to hear noises when it’s sleeping time.<br>
            <strong>A: </strong>Ah, we promise not to make noises.<br>
            <strong>B: </strong>Okay then I’ll try to ask permission.<br> <br>


            <em>use 'don't get me wrong' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Don’t make me laugh</p>
                <small>You can say this after someone's said something you think is impossible or ridiculous.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I was chosen to be our country’s representative for Ms. World.<br>
            <strong>B: </strong>Don’t make me laugh! You can’t even face three people.<br><br>


            <em>use 'don't make me laugh' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Don’t mention it</p>
                <small>This is a polite thing to say after someone has thanked you for something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Steph, thank you so much for your help last night.<br>
            <strong>B: </strong>Oh, don’t mention it.<br><br>


            <em>use 'don't mention it' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Don’t mind me</p>
                <small>You can use this to tell someone to ignore you and continue doing whatever they're doing.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Are you okay, Sam? You don’t look good today.<br>
            <strong>B: </strong>Nah, don’t mind me.<br><br>


            <em>use 'don't mind me' in your own sentence</em><br>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom2">Close</button><br>
            <hr>
         </div>


         <br><p>Phrases E & F   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom3">Show contents</button></p>
          <div id="idiom3" class="collapse">
              
            <blockquote>
             <p>Easy for you to say</p>
             <small>You can say this if someone doesn't seem to understand how difficult it is to do what they've suggested.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You should tell your parents the truth that you failed in your exam.<br>
            <strong>B: </strong>It’s easy for you to say that, but it’s difficult in my part.<br><br>


            <em>use ' easy for you to say' in your own sentence</em><br><br><hr><br>




            <blockquote>
                <p>Enough is enough</p>
                <small>You can say this if something should stop because it's been allowed to continue for too long.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I’ve heard so much about this problem. I don’t want to hear it anymore.<br>
            <strong>B: </strong>But sir….<br>
            <strong>A: </strong>Enough is enough. <br><br>


            <em>use 'enough is enough' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Excuse me</p>
                <small>1. You can use this when mentioning something positive in a generally negative situation or context. <br></small>
                    <small>2. If you have to get past somebody in a crowded space. <br></small>
                    <small>3. You can use this to ask someone to repeat what they've just said, either because you couldn't hear <br> them or because you couldn't understand them.</small>
            </blockquote><br>

            <strong>Conversation 1:</strong><br><br>

            <strong>A: </strong>Everybody should pay attention when...<br>
            <strong>B: </strong>Excuse me sir, when is the visitor going to talk to us?<br>
            <strong>C: </strong>yes, let me finish first. <br><br>


            <strong>Conversation 2:</strong><br><br>

            <strong>A: </strong>(talking to C)<br>
            <strong>B: </strong>Excuse me..(passing through)<br><br>


            <strong>Conversation 3:</strong><br><br>

            <strong>A: </strong>Hand me the rope. Hurry up i need to tie something. <br>
            <strong>B: </strong>Excuse me? I can’t hear you well. <br><br>

            <em>make a dialogue using the three ways of saying 'excuse me' </em><br><br><hr><br>



            <blockquote>
                <p>Fair enough</p>
                <small>You can say this if you think what someone says is reasonable enough to accept or believe.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Let’s divide the task to all of us.<br>
            <strong>B: </strong>fair enough.<br><br>


            <em>use 'fair enough' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Feel free</p>
                <small>You can say this to let someone know they have permission to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Please feel free to use the room and the dining room.<br>
            <strong>B: </strong>Wow, thank you very much.<br><br>


            <em>use 'feel free' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>First of all</p>
                <small>You can use this to introduce the first of several things you're going to say.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Thank you for coming tonight. First of all, i would Welcome all our guest from Japan, Korea, Cambodia and Thailand.<br><br>


            <em>use 'first of all' in your sentence</em><br><br><hr><br>   


            <blockquote>
                <p>At Least</p>
                <small>You can say this when suggesting or requesting something different.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Why did you change the style of your hair?<br>
            <strong>B: </strong>For a change.<br><br>


            <em>use 'for a change' in your sentence</em><br><br><hr><br> 


            <blockquote>
                <p>For heaven’s sake</p>
                <small>You can say this to show you're angry or upset, or to strongly emphasize what you're saying.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Do we have to stay for a night?<br>
            <strong>B: </strong>For heaven's sake! we can't go back on our way to the city. We will get lost in the forest. <br><br>


            <em>use 'for heaven's sake' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>For your information</p>
                <small>You can say this when you're telling someone they're wrong about something, esp. if their mistake has annoyed or insulted you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You are always depending on your mom to cook food for you.<br>
            <strong>B: </strong>For your information, I cook this food myself. My mom just love cooking of us even if we are old enough to cook for our selves.<br><br>


            <em>use 'for your information ' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>At Least</p>
                <small>YYou can use this to tell someone not worry about something because it isn't important.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I'm so sorry I forgot to buy your ice cream yesterday. I will make it up on you tomorrow.<br>
            <strong>B: </strong>forget it. Let's just have fun tomorrow on the beach.<br><br>


            <em>use 'forget it' in your own sentence</em><br>


            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom3">Close</button><br>
            <hr>
         </div>




         <br><p>Phrases G & H   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom4">Show contents</button></p>
          <div id="idiom4" class="collapse">
              
            <blockquote>
             <p>Get over it</p>
             <small>You can say this if someone's had a bad experience, but you think it's time they recovered.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Are you okay? I think you need to get over it.<br>
            <strong>B: </strong>I know. And I need your help.<br><br>


            <em>use 'get over it' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Get real</p>
                <small>You can say this if someone says something that's impossible or unrealistic.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I'll be going to do scuba diving this Saturday. <br>
            <strong>B: </strong>oh please get real. You don't even know how to swim.<br><br>


            <em>use 'get real' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Give me a break</p>
                <small>You can say this after someone says something ridiculous, annoying or untrue.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You were cheating on your exam yesterday. You are the only one who got the perfect score.<br>
            <strong>B: </strong>Will you give me a break? when was the time you heard me having low scores in exams.<br><br>


            <em>use 'give me a break' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Go for it!</p>
                <small>You can say this to encourage someone to try hard or take on a challenge.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>The Olympic is a big challenge for me this year. I'm getting nervous. <br>
            <strong>B: </strong>Go for it! I know you can do it.<br><br>


            <em>use 'go for it' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Good for you / good on you</p>
                <small>You can say this to someone if you're happy for them or proud of them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I pass the university entrance test.<br>
            <strong>B: </strong>Good on you. Now you can have more time to relax.<br><br>


            <em>use 'good for you / good on you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Guess what?</p>
                <small>You can say this before telling someone something exciting or surprising.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Guess what!?<br>
            <strong>B: </strong>what? you look happy today.<br>
            <strong>A: </strong>Tim is my boyfriend now.  <br>
            <strong>B: </strong>oh, that's nice. I'm happy for you. <br>


            <em>use 'guess what' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Have a heart</p>
                <small>You can say this if you're asking someone to be kind, or if you think they're being unfair or heartless.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I won't let my brother borrow my car. He didn't do his cleaning task today.<br>
            <strong>B: </strong>Have a heart! he's your brother.<br><br>


            <em>use 'have a heart' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Haven't got a clue</p>
                <small>You can say this if you don't know something, or if you don't want to tell someone something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Did you know that our CEO is still single?<br>
            <strong>B: </strong>Oh, really? I haven't got a clue. He's always busy making money. besides he never told us about his personal life.<br><br>


            <em>use 'haven't got a clue' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Help yourself / help yourselves</p>
                <small>This is used to let people know they can take something, or they can serve themselves.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Are these chairs available?<br>
            <strong>B: </strong>Yes please, help yourself.<br><br>


            <em>use 'help yourself' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Here it is / here they are:</p>
                <small>You can say this when you've found something you're looking for.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You've been looking for your cellphone everywhere. Did you lost it?<br>
            <strong>B: </strong>Ahmm, here it is, it's okay.<br><br>


            <em>use 'here it is/ here they are' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Here you are / here you go</p>
                <small>You can say this when handing something to somebody.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Can you please hand me the paper on my table?<br>
            <strong>B: </strong>Sure, here you are.<br><br>


            <em>use 'here you are / here you go' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>How come?</p>
                <small>You can say this if you want to know why something's happened, or why a situation exists.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>My son failed in his test today.<br>
            <strong>B: </strong>How come? He always get the highest scores in their class.<br><br>


            <em>use 'how come' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>How does  that sound?</p>
                <small>You can ask this if you want to know what someone thinks of your idea or your suggestion.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>We will take the train going to the countryside but we will stop in the 3rd station so we can see the famous beautiful scenery of the town. <br> Then we will take a bus going to the beach. How does that sound?<br>
            <strong>B: </strong>Hmm, sounds great!<br><br>


            <em>use 'how does that sound' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>How’s it going? / How are things going?</p>
                <small>You can use this to ask somebody about their progress in a task, a job, a project, etc.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I've been struggling with this project for a long time.<br>
            <strong>B: </strong>How's it going?<br>
            <strong>A: </strong>Not much progress going on. I think I will give up on this. <br><br>


            <em>use 'how's it going' in your own sentence</em><br>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom4">Close</button><br>
            <hr>
         </div>



         <br><p>Phrases I & J   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom5">Show contents</button></p>
          <div id="idiom5" class="collapse">
              
            <blockquote>
             <p>I Don’t blame you</p>
             <small>You can say this if you understand why someone did or felt something.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I thought i did my best to show how much I care for him. But he still left me alone.<br>
            <strong>B: </strong>I don't blame you for that. He's the one who lost someone special.<br><br>


            <em>use 'I don't blame you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>I don’t think so</p>
                <small>You can say this if you think something probably isn't true or possible, but you're not entirely sure.</small><br>
                <small>You can say this to show that you strongly disagree with an opinion or statement.</small>
            </blockquote><br>

            <strong>Conversation 1:</strong><br><br>

            <strong>A: </strong>Let's go upstair now. the water will soon come inside the house.<br>
            <strong>B: </strong>I don't think so, look the rain stops already.<br><br>

            <strong>Conversation 2:</strong>

            <strong>A: </strong>He is the black sheep of their family <br>
            <strong>B: </strong>I don't think so! You just don't him well. <br><br>




            <em>Use 'I don't think so' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>I hate to think</p>
                <small>You can use this when saying how bad something might become, or might have been.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I hate to think that they are leaving tomorrow. I will miss them.<br>
            <strong>B: </strong>I know. They have become close to you.<br><br>


            <em>use 'I hate to think' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>I have no idea!</p>
                <small>You can say this to emphasize that you really don't know something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Did you know that your friend went to see the queen of London?<br>
            <strong>B: </strong>Really? I have no idea!<br><br>


            <em>use 'I have no idea' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>I think so</p>
                <small>You can say this if you think something's probably true or correct, but you're not entirely sure.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I've heard that James will transfer to another school next year.<br>
            <strong>B: </strong>I think so.<br><br>


            <em>use 'I think so' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>I told you</p>
                <small>After you've been proven correct, you can say this to someone who didn't believe you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I told it was him who transferred the files.<br>
            <strong>B: </strong>Okay, I'm sorry.<br><br>


            <em>use 'I told you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>I’ll see what i can do</p>
                <small>You can use this to tell someone you'll try to do what they've asked you to do.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>My computer is badly broken. I really need your help.<br>
            <strong>B: </strong>I'll see what I can do<br><br>


            <em>use 'I'll see what I can do' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>I’m sorry for your loss / I’m so sorry</p>
                <small>You can say this if someone tells you that one of their relatives or friends has died.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I'm sorry for your loss. I hope you can easily move on.<br>
            <strong>B: </strong>It's not that easy but I'll try.<br><br>


            <em>use 'i'm sorry for your loss' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>If you insist</p>
                <small>You can say this if you agree to do something because someone's insisting you do it.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>oh please, you have to try on our delicious roast pig in Cebu. My treat.<br>
            <strong>B: </strong>Well, if you insist, why not.<br><br>


            <em>use ' if you insist' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>In that case / If that’s the case</p>
                <small>You can use this if you're saying what you'll do, or what should happen, given the facts you've just been told.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Our boss is supposed to give the welcome address but he said you have to do it instead.<br>
            <strong>B: </strong>Well, if that's the case, then I have no other choice.<br><br>


            <em>use ' in that case / if that's the case' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>It depends / that depends</p>
                <small>You can say this if you can't give a definite answer because something might change, or because different things are possible.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>We will spend the night in your house.<br>
            <strong>B: </strong>It depends if my mom will let us.<br><br>


            <em>use 'it depends / that depends' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>It’s no use</p>
                <small>You can say this if you think there's no point in doing something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I know you can still have her back.<br>
            <strong>B: </strong>No. it's no use. She won't listen to me whatever I say.<br><br>


            <em>use 'It's no use' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>It’s not the end of the world</p>
                <small>You can say this if you're comforting someone who's sad or disappointed.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>come on sweetheart, it's not the end of the world. There are a lot of gentlemen out there who <br>would love to go out with you for a date.<br>
            <strong>B: </strong>I don't think so. I'm not as pretty as those girls out there.<br><br>


            <em>use 'It's not the end of the world' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Just a moment / Just a minute</p>
                <small>You can say this if you want somebody to wait for a very short time.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hurry dad! we will be late in our first trip.<br>
            <strong>B: </strong>Just a minute. I'm trying to check if everything we need is here.<br><br>


            <em>use 'just a minute' in your own sentence </em><br><br><hr><br>


            <blockquote>
                <p>Just kidding</p>
                <small>You can say this if someone doesn't realize you're kidding or joking.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Is that cake you made is for my birthday?<br>
            <strong>B: </strong>No.<br>
            <strong>A: </strong>Oh, ..okay <br>
            <strong>B: </strong>Just kidding! Of course it's for you. Happy birthday! <br><br>


            <em>use 'just kidding' in your own sentence</em><br>


            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom5">Close</button><br>
            <hr>
         </div>



         <br><p>Phrases K & L   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom6">Show contents</button></p>
          <div id="idiom6" class="collapse">
              
            <blockquote>
             <p>Keep it up</p>
             <small>to continue doing the same thing.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Congratulations! you were always been the number one in your class. Keep it up.<br>
            <strong>B: </strong>Thank you so much and for trusting me that much.<br><br>


            <em>use 'keep it up' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Kind of</p>
                <small>You can say this when you can't describe something or someone exactly.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Was he stalking on you?<br>
            <strong>B: </strong>kind of, because even in my messenger he keeps sending message and liking my pictures in facebook and instagram.<br><br>


            <em>use 'kind of' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Know what I’m saying?</p>
                <small>You can say this to see if someone knows what you mean, or to fill in time before saying something else.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>you'd better be silent or you will find yourself in trouble. Know what I'm saying?<br>
            <strong>B: </strong>I know.<br><br>


            <em>use 'know what I'm saying' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Leave it to me / leave everything to me</p>
                <small>You can say this to let someone know they don't have to do something because you'll do it.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I am worried about the props for this afternoon play. <br>
            <strong>B: </strong>Leave it to me. I can prepare all those things before the play.<br><br>


            <em>use 'leave it to me / leave everything to me' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Let me guess</p>
                <small>You can say this if you'd like to guess what's happening before someone tells you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>why do you look so sad. let me guess, you're having an argument with your best friend.<br>
            <strong>B: </strong>No. I lost some of my files in my drive. I need to pass it to my teacher today.<br><br>


            <em>use 'let me guess' in your sentence</em><br><br><hr><br>


            <blockquote>
                <p>Let’s face it</p>
                <small>You can say this to emphasize that something's true, even if it's hard to believe or accept.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I know that it's not easy to forget about our special someone who passed away. But we need to face it.<br>
            <strong>B: </strong>It's easy to say that but it takes time..<br><br>


            <em>use 'let's face it' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Let’s see / let me see</p>
                <small>1. You can say this if you need a moment to think about something.</small><br>
                <small>2. You can say this if you want someone to show you something.</small>
            </blockquote><br>

            <strong>Conversation 1:</strong><br><br>

            <strong>A: </strong>Do you think this tarpaulin will fit in the hall? it's too big.<br>
            <strong>B: </strong>Hmm, let's see... maybe, but I'm not sure.<br><br>

            <strong>Conversation 2:</strong><br><br>

            <strong>A: </strong>I have red spots on my arms, It's been a month now but it never fade. <br>
            <strong>B: </strong>Let me see. I don't know either but i guess you need to see a dermatologist. <br><br>

            <em>use 'let's see / let me see' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Long time no see</p>
                <small>You can say this while greeting someone you haven't seen for a very long time.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hey Kylie! long time no see. I thought you moved to Canada to study.<br>
            <strong>B: </strong>Oh, hi Beth. Yes i did. I'm just here to visit my parents.<br><br>


            <em>use 'long time no see' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Look who’s talking</p>
                <small>You can say this if someone's advice or opinion isn't supported by what they've done in their own life.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You don't have to cry on your boyfriend who left you unexpectedly.<br>
            <strong>B: </strong>Look who's talking! You haven't even moved on until now.<br><br>


            <em>use 'look who's talking' in your own sentence</em><br>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom6">Close</button><br>
            <hr>
         </div>




         <br><p>Phrases M & N   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom7">Show contents</button></p>
          <div id="idiom7" class="collapse">
              
            <blockquote>
             <p>Make yourself comfortable</p>
             <small>You can use this to politely tell a client or visitor to sit down after they've arrived.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Welcome visitors! Make yourself comfortable.<br>
            <strong>B: </strong>Thank you.<br><br>


            <em>use ' make yourself comfortable' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Make yourself useful</p>
                <small>You can use this to tell someone to stop wasting time and do something useful.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Why are you staying in that corner. Help your classmate to make decorations. Make yourself useful.<br>
            <strong>B: </strong>Sorry sir.<br><br>


            <em>use ' make yourself useful' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Mark my words</p>
                <small>You can say this if you want someone to listen carefully, esp. if you're warning them or predicting the future.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You shouldn't go out at night. Or else I will send you to your uncle's haunted house. My my words.<br><br>


            <em>use ' mark my words' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>My goodness</p>
                <small>This is an old-fashioned way of expressing surprise.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Happy birthday!<br>
            <strong>B: </strong>My goodness! I wasn't expecting a big surprise from all of you.<br><br>


            <em>use 'my goodness' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>My lips are sealed</p>
                <small>You can say this if you're promising not to tell anyone a secret.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hey Kurt! I saw Allie with another guy. Her boyfriend doesn't know about it. Please don't tell anyone what I see.<br>
            <strong>B: </strong>Sure. My lips are sealed.<br><br>


            <em>use 'my lips are sealed' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>My pleasure</p>
                <small>This is a polite thing to say after someone has thanked you for helping them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Steve! thank you for helping me with my project. I couldn't have done it without you. Thank you so much.<br>
            <strong>B: </strong>My pleasure.<br><br>


            <em>use 'my pleasure' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>No comment</p>
                <small>You can say this when you don’t want to say something or answer about a question.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Why did you sign up the contract when you told me that you are not happy in your job anymore?<br>
            <strong>B: </strong>No comment.<br><br>


            <em>use 'no comment' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>No doubt about it</p>
                <small>You can say this if you strongly believe that something's true or correct..</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Shiela has been the top student in their class. She's super intelligent.<br>
            <strong>B: </strong>Yeah, no doubt about it.<br><br>


            <em>use 'no doubt about it' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>No hard feelings</p>
                <small>You can say this to someone you've argued or competed with to let them know you have no bad feelings toward them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I've won the competition in a fair square. No hard feelings.<br>
            <strong>B: </strong>It's okay. There still a lot of chances to win.<br><br>


            <em>use 'no hard feelings' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>No harm done</p>
                <small>You can say this if a mistake or accident hasn't seriously harmed anyone or damaged anything.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Are you okay? did my little dog hurt you?<br>
            <strong>B: </strong>I'm okay. No harm done.<br><br>


            <em>use 'no harm done' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>No offence</p>
                <small>You can say this if what you're telling someone might upset or offend them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You're brother is a little brat. No offense but that is what is see.<br>
            <strong>B: </strong>It's okay. I know he is annoying most of the time.<br><br>


            <em>use 'no offense' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>No wonder</p>
                <small>You can say this if you're not surprised by something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>His wife left him and their 3 kids.<br>
            <strong>B: </strong>no wonder he always get late at work.<br><br>


            <em>use 'no wonder' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>No worries</p>
                <small>You can this say after somebody thanks you, or if you accept somebody's apology, excuse, explanation, etc.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I'm sorry i was absent yesterday. What was the agenda of our meeting?<br>
            <strong>B: </strong>No worries. It's just the same weekly meeting. Nothing new.<br><br>


            <em>use 'no worries' in your own sentence</em><br>


            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom7">Close</button><br>
            <hr>
         </div>



         <br><p>Phrases O, P, Q, R  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom8">Show contents</button></p>
          <div id="idiom8" class="collapse">
              
            <blockquote>
             <p>Of course</p>
             <small>You can add this if what you're saying should be obvious to the listener.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>The party will start at 7pm. Of course our very own CEO will join us. <br><br>


            <em>use 'of course' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Of course not</p>
                <small>You can answer a question with this if you want to say "no" very definitely or forcefully.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Will you wear your two piece in our pool party? <br>
            <strong>B: </strong>Of course not! There's too much people from other branch. It's a shame.<br><br>


            <em>use 'of course not' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>On second thoughts</p>
                <small>You can say this if you've suddenly changed your mind.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I thought you will not come with us.<br>
            <strong>B: </strong>Yes, but on the second thought, I have nothing to do at home so i change my mind.<br><br>


            <em>use 'on the second thought' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Over my dead body</p>
                <small>You can say this if you strongly oppose a plan or an action, and you're not going to let it happen.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I heard that he will steal your works tonight and will submit it right away as his own.<br>
            <strong>B: </strong>Oh really? over my dead body. I've been  working on that for years. <br><br>


            <em>use 'over my dead body' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Pretty well / pretty much</p>
                <small>You can say this instead of saying "almost" or "nearly".</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Are you almost finish with your task?<br>
            <strong>B: </strong>Pretty much closer. Just a couple of design left then I'm done.<br><br>


            <em>use 'pretty well / pretty much' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Pull yourself together</p>
                <small>You can say this if someone needs to calm down and control their emotions.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I quit! This isn't fair! enough! I'm done with it!<br>
            <strong>B: </strong>Hey dude, you've got to pull yourself together. There might be some way to fix that problem.<br><br>


            <em>use ' pull yourself together' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>Quite right</p>
                <small>You can say this to show you completely agree with what someone's said.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Filipinos are happy people. Even if they have problems, you don't feel it or see it in their faces. <br>
            <strong>B: </strong>quite right.<br><br>


            <em>use ' quite right' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Ready when you are</p>
                <small>You can say this if you're ready to go somewhere or do something with someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Wow so early! are you ready for the trip?<br>
            <strong>B: </strong>Ready when you are.<br><br>


            <em>use 'ready when you are' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Rise and shine</p>
                <small>You can say this to someone if you're waking them up in the morning.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Kids! time for school! rise and shine!<br><br>


            <em>use 'rise and shine' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Run for your life</p>
                <small>You can say this if someone's in danger and they should escape as quickly as possible.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Harry, run for your life! He is going to kill you.<br>
            <strong>B: </strong>Hey June, it's just a movie. You're talking to yourself alone.<br><br>


            <em>use 'run for your life' in a situation</em><br>

         
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom8">Close</button><br>
            <hr>
         </div>


         <br><p>Phrases S & T  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom9">Show contents</button></p>
          <div id="idiom9" class="collapse">
              
            <blockquote>
             <p>Sad to say</p>
             <small>You can say this when describing something that's unfortunate or disappointing.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>We would have been giving away three cars as incentive for this year. But sad to say, there are problems that emerged <br> in the surface so it would be difficult for the company to do that. <br><br>


            <em>use ‘sad to say’ in the sentence</em><br><br><hr><br>


            <blockquote>
                <p>Same here</p>
                <small>If what someone says is also true for you, you can say "same here".</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I don’t feel good because of the weather yesterday.<br>
            <strong>B: </strong>Same here.<br><br>


            <em>use 'same here' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>See for yourself</p>
                <small>You can say this when showing someone something you've told them about, esp. if they don't believe you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I have found your gold necklace under the tree.<br>
            <strong>B: </strong>are you sure?<br>
            <strong>A: </strong>Yes. come and see for yourself.<br><br>


            <em>use 'see for yourself' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>See what I mean?</p>
                <small>You can say this after explaining something, or after something happens that supports your belief.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Ants are roaming around to look for food. So if you keep eating inside your room, you might be surprise how million of ants arrive in your room. <br>See what i mean? There’s two or five ants crawling in your bed.<br><br>


            <em>use 'see what I mean' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Sorry about that</p>
                <small>You can use this to apologize for making a small mistake or for inconveniencing someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You forgot to wake me up this morning.<br>
            <strong>B: </strong>Oh, sorry about that. I was extremely busy that I forgot.<br><br>


            <em>use 'sorry about that' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Sorry to bother you</p>
                <small>This is a polite thing to say before speaking to someone, esp. if you don't know them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Mr. Howard, sorry to bother you, but someone is looking for you outside. <br><br>


            <em>use 'sorry to bother you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Sorry to hear that</p>
                <small>You can say this if someone tells you something bad has happened.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>My little cat was hit by a car. I feel so mad.<br>
            <strong>B: </strong>Oh, sorry to hear that.<br><br>


            <em>use 'sorry to hear that' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Sorry to say</p>
                <small>You can say this when telling someone something that might disappoint or inconvenience them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Excuse me, is my name already on the list?<br>
            <strong>B: </strong>Sorry to say but it’s not yet on the list. Try on the next day.<br><br>


            <em>use 'sorry to say' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Sounds good</p>
                <small>You can say this if you think someone's suggestion is a good idea..</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>We will leave early tomorrow so we can have longer relaxation on the beach. How’s that?<br>
            <strong>B: </strong>sounds good.<br><br>


            <em>Use 'sounds good' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Suit yourself</p>
                <small>This is a way of telling someone to do what they want to do.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Here’s a cup of coffee while waiting for the visitors. Suit yourself. <br><br>

            <em>use ' suit yourself' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Sure thing</p>
                <small>You can say this if you're agreeing to do something, or after someone has thanked you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Thank you for your help yesterday. It was really needed.<br>
            <strong>B: </strong>Sure thing.<br><br>


            <em>use 'sure thing' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Take it easy</p>
                <small>You can say this if someone is showing signs of stress and they need to relax.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I need to finish all these report before 6pm. My boss will be mad if I can’t.<br>
            <strong>B: </strong>Take it easy. There are few things left for you to do and it’s still early.<br><br>


            <em>use 'take it easy' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>That’s funny</p>
                <small>You can say this if you think something's strange.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>The supervisor ask the CEO to have his bag inspected. He didn’t recognise our CEO.<br>
            <strong>B: </strong>That’s funny.<br><br>


            <em>use that's funny' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>The (only) thing is</p>
                <small>You can say this before giving your reason for refusing an offer, a request or a suggestion.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Why did you refuse the job offered?<br>
            <strong>B: </strong>The  thing is, I will be demoted from my rank and the compensation is not enough.<br><br>


            <em>use 'the (only) thing is' in your sentence</em><br><br><hr><br>


            <blockquote>
                <p>The next thing I know</p>
                <small>You can say this when you're describing something that happened to you suddenly and unexpectedly.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>When I entered the room, it was so dark and quiet that I was thinking to leave. The next thing I know was, the light suddenly <br> went on and there were many people around greeting me a happy birthday.<br><br>

            <em>use 'the next thing I know' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>There’s no point</p>
                <small>You can say this if you think someone's doing something, or thinking of doing something, that is pointless or sure to fail.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You should have tell them the truth. You need to defend yourself from their criticism.<br>
            <strong>B: </strong>There’s no point. I don’t want to pitiful for them.<br><br>


            <em>use 'there's no point' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>There’s no such thing</p>
                <small>You can say this when you're telling someone what you really think, even if it might upset them.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>To be perfectly honest, she doesn’t deserve the crown.<br><br>


            <em>use 'to be (perfectly) honest' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>To cut a long story short</p>
                <small>You can say this if you're going to get to the main point of what you're saying quickly, without giving all the details.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I was with them, then we went to the mall together then, to cut the long story short, they made <br> me happy despite of all my problems.<br><br>


            <em>use 'to cut a long story short' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Too bad / That’s too bad</p>
                <small>You can say this to express sympathy after something bad has happened.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>The team leader was disqualified because of some lacking paper<br>
            <strong>B: </strong>That’s too bad. He is very needed in the team.<br><br>


            <em>use 'too bad / that's too bad' in your own sentence</em><br>


         
            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom9">Close</button><br>
            <hr>
         </div>


         <br><p>Phrases U, V, W  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom9">Show contents</button></p>
          <div id="idiom9" class="collapse">
              
            <blockquote>
             <p>Unless I’m mistaken / If I’m not mistaken</p>
             <small>This is a polite thing to say if you're sure what you're saying is correct.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>If I’m not mistaken, the price of the whole pizza is 500. <br><br>


            <em>Use ‘unless I’m mistaken’ in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>Up to you</p>
                <small>You can say this if you want someone else to make a decision, or if you don't care what they decide.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Is it okay to eat lunch in K.F.C?<br>
            <strong>B: </strong>It’s up to you. I’m fine with anything.<br><br>


            <em>use 'up to you' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Very Funny</p>
                <small>You can say this if you don't believe someone because you know they're only joking.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I will treat you to Hongkong Disneyland if I win the lottery.<br>
            <strong>B: </strong>Very funny.<br><br>


            <em>use 'very funny' in your own sentence</em><br><br><hr><br>



            <blockquote>
                <p>Watch your tongue</p>
                <small>You can say this if you want someone to stop using rude language or swear words.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Tommy, watch your tongue. I heard you say rude words many times. <br><br>


            <em>use 'watch your tongue' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>What a pity / that’s a pity</p>
                <small>You can say this if something disappointing has happened.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Hey Ben, I ‘ve heard your best friend was caught in a fight?<br>
            <strong>B: </strong>Really? I didn’t hear that. What a pity.<br><br>


            <em>use 'what a pity' in your own sentence</em><br><br><hr><br>

              
            <blockquote>
                <p>What are you waiting for</p>
                <small>You can say this if you want someone to do something immediately.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I think your girlfriend is the right woman for you. What are you waiting for? <br><br>

            <em>use 'what are you waiting for' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>What do you think?</p>
                <small>You can use this to ask someone what they think about something, or if they think something's a good idea.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I will sell my old clothings then give the money to the orphanage. What do you think?<br>
            <strong>B: </strong>That sounds good.<br><br>


            <em>use ' what do you think' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>What’s going on</p>
                <small>This is a more informal way of saying "What's happening?" or "What happened?"</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>What’s going on here? Why are there so many people?<br>
            <strong>B: </strong>It’s your sister’s wedding.<br><br>


            <em>use 'what's going on' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>What’s it like? / what’s he/she like?</p>
                <small>You can say this if you want someone to describe something or someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Did you see Carol’s Boyfriend? He’s so handsome.<br>
            <strong>B: </strong>What’s he like?<br><br>


            <em>use ' what's it like / what's he/she like' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>What’s the matter</p>
                <small>You can say this if someone seems sad, worried, sick, etc. and you want to know what's wrong.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>What’s the matter Kim? You look sick.<br><br>

            <em>use 'what's the matter' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Why not</p>
                <small>You can say this to show you agree with a suggestion or accept an offer.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>If you lend me your new camera, I will let you borrow my new motorbike.<br>
            <strong>B: </strong>Sure why not.<br><br>


            <em>use 'why not' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Would it be okay if I…? / Would it be all right if I….?</p>
                <small>This is an informal way of asking for permission to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Would it be okay if I stay over the night?<br>
            <strong>B: </strong>Sure no problem.<br><br>


            <em>use 'would it be okay if I...' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Would you be kind enough to ….</p>
                <small>This a very polite and formal way of asking somebody to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Would you be kind enough to lend me money? I will use taxi going home. <br><br>
            <em>use ' would you be kind enough' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>Would you mind if I…</p>
                <small>This is a polite way of asking for permission to do something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Would you mind if I call you Gilbert?<br>
            <strong>B: </strong>No problem. I love to be called by my real name.<br><br>


            <em>use 'would you mind if I...'in your own sentence</em><br>



            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom9">Close</button><br>
            <hr>
         </div>



         <br><p>Phrases X, Y, Z <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom10">Show contents</button></p>
          <div id="idiom10" class="collapse">
              
            <blockquote>
             <p>You never know</p>
             <small>You can use this to remind someone that anything's possible in the future.</small>
            </blockquote>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>I don’t think I will be accepted in the tournament.<br>
            <strong>B: </strong>Don’t lose hope. You’ll never know.

            <em>use 'you never know' in your own sentence</em><br><br><hr><br>

            <blockquote>
                <p>You shouldn’t have</p>
                <small>This is a polite thing to say after someone has given you a gift, or done something to please you.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You shouldn’t have prepared a lot of food in my birthday.<br>
            <strong>B: </strong>It’s okay. I would love to do things for you.<br><br>


            <em>use 'you shouldn't have' in your own sentence</em><br><br><hr><br>


            <blockquote>
                <p>You took the words right out of my mouth</p>
                <small>You can say this if someone says what you were about to say.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>she was fla.. flaaa...<br>
            <strong>B: </strong>flattered!<br>
            <strong>A: </strong>Yes, you took the words right out of my mouth. <br><br>


            <em>use ' you took the words right out of my mouth' in your own words</em><br><br><hr><br>

            <blockquote>
                <p>You’re kidding me / You can’t be serious</p>
                <small>You can say this if someone says something surprising or ridiculous.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>He’s proposing your best friend already!<br>
            <strong>B: </strong>You can’t be serious! They just had a fight yesterday.<br><br>


            <em>use 'you're kidding me / you can't be serious" in your own sentence</em><br>
                  
            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom10">Close</button><br>
            <hr>
         </div>


      </div>
    </div>
  </div>
  </div>
