<p id="notice"><%= notice %></p>


<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- linkslinkslinks
linkslinkslinks
linkslinkslinks -->


<div class="container">

  <div class="page-header">
    <h2>Curriculum</h2>
  </div>

  <div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="hidden-xs">Travel English<span class="pull-right glyphicon glyphicon-globe"></span></h3></div>
      <div class="panel-body">

        <p>1. Can I do anything to help?  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel1">Show contents</button></p><br>
         <div id="travel1" class="collapse">
          <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br/>
          <img src="https://lh6.googleusercontent.com/_kNzn8veYvkujH0EbOd1asVH15cTf9Kx1Jv_Jf7l39kB0h59ncHxkzgrnisVgZddWlzNFnEOz32jxpxXnEacVT3gjsVH1S4m6iI_cCVpv1D2Lb8VMjaPire0z2tzsAysnt3GvdMa" alt="Error Loading Img" width="50%"><br/><br/>
          <p><strong>Alexander:</strong> We are here! Danna, this is the Maria Christina Falls.<br/>
            <strong>Danna:</strong> It's so beautiful!<br/>
            <strong>Alexander:</strong> It is!<br/>
            <strong>Danna:</strong> It looks so cool! I want to jump in!<br/>
            <strong>Alexander:</strong> Well, Let's do it! One, two, three!<br/>
            <strong>Danna:</strong> Ouch! Ouch!<br/>
            <strong>Alexander:</strong> Danna, Are you okay?<br/>
            <strong>Danna:</strong> I think I hurt my arm.<br/>
            <strong>Alexander:</strong> Oh no. Can I do anything to help?<br/>
            <strong>Danna:</strong> Can you help me out of the water? Thanks, Alex.<br/><br/>
            <strong><em>Trivia!</em></strong><br/>
            <p>Maria Cristina Falls is the most beautiful and tallest waterfall in the country at<br> 58 meters high and nearly as wide. It is located nine kilometers south of lIigan City,<br>  a prosperous citywhich owes its wealth to the hydroelectric power the falls generate.</p><br/><br/>

            <strong>Can I do anything to help?</strong><br/>
            <p>This phrase can be used when you want to assist someone who is in need<br/>
            of help or is in trouble</p><br/>
            <blockquote>"If there is anything I can do...."</blockquote><br/>
            <p>is the same kind of expression and we can use it when offering to help<br>
            someone</p><br>
            <p>You may also say,</p><br/>
            <blockquote>"I would like to help if there is anything I can do."</blockquote><br/>
            <br>

            <strong>Phrases</strong><br>
            <p>I hope things get better. <br>
            Youll be fine. <br>
            Give it some time. <br>
            Cheer up.</p><br/><br>

            <strong>Conversation 1</strong><br>
            <img src="https://lh6.googleusercontent.com/pCOxtBaqngN1A6Q5jsDTirioMfIKrKYMzYvfrXUecMqI6oBQa--k-IQY_wbf5PhDiXnWOegs1qLKa1kaOWBBUg9B3dTJBYeK6qwy0H9ebMH18fmFfMl2IrFR_H0-vNSiAinymUMJ" alt="Error Loading Img" width="50%"><br><br>
            <strong>Jasmine:</strong> Why am I so unlucky? I lost my wallet, and then I lost my keys.<br>
            <strong>Feliz:</strong> I hope things get better <br><br>

            <strong>Conversation 2</strong><br>
            <img src="https://lh6.googleusercontent.com/KnwllWGjAr9OiE9lUDPGtxOe55_bKrVQwrJOu1agByl-mCd6Y8qvhaStNbI31RIBWWbjhLkYD9MxMjbmyzJvRpXQNtvCFeXVIMglbRGgOAeQBenRHsFOzo4OiU0Bz8HNvhJj41fo" alt="Error Loading Img" width="50%"><br><br>
            <strong>Lee:</strong> I'm so bored!<br>
            <strong>John:</strong> Cheer up! Let's go out. <br>
            <br>
            <strong>Phrases and their Meanings</strong><br><br>

            <blockquote>
              <p>live out of a suitcase</p>
              <small>means to stay very briefly in several places, with only the belongings in your suitcase.</small>
            </blockquote>
            <blockquote>
              <p>backseat driver</p>
              <small>1. A passenger in a car who insists on giving the driver directions</small><br>
              <small>2. Anybody offering unsolicited or unwelcome advice.</small>
            </blockquote><br>
            <strong>Situation: Your friend is feeling stressed and sad because of too much work.<br>
            How can you comfort your friend?</strong>
            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel1">Close</button><br>
            <hr>
         </div>


          <p>2. How does Sisig taste?  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel2">Show contents</button></p>
          <div id="travel2" class="collapse">
            <p><em>Objective: To let the student explain and describe the taste of food.</em></p><br>
            <img src="https://lh4.googleusercontent.com/-MHVjNbvNhxxRWz98uvn-KjstqRe9Dfq_bOaJSlsio2-85UwGdvPaiRQoBL96hKBZmllLzfTEMSHvq0pdtsmybDdLG6v89lsCbbPjNrOkBLzYCx1zXDczp9nzSBhyWKf_UySSAnr" alt="Error Loading Img" width="50%"><br><br>
            <strong>Ana:</strong> We’re in Pampanga. It’s famous for good food. <br>
            <strong>Miki:</strong> Do they have pork dishes? I love pork. <br>
            <strong>Ana:</strong> Oh, they do. This is where the original sisig comes from <br>
            <strong>Miki:</strong> Sisig? What's sisig? <br>
            <strong>Ana:</strong> It’s made from pig ears. You will love it! It’s my favorite. <br>
            <strong>Miki:</strong> What? Pig ears? How does sisig taste? <br>
            <strong>Ana:</strong> You can try it for yourself. Here’s our order! <br>
            <strong>Miki:</strong> (tastes sisig) It’s delicious! <br>
            <strong>Ana:</strong> Isn’t it great with rice? <br>
            <strong>Miki:</strong> Yes! I have a new favorite pork dish! <br><br>

            <strong><em>Trivia!</em></strong><br/>
            <p>Pampanga is famous for its delicious food. It is known <br>
              for Spanish dishes made the Filipino way. <br> <br></p>

            <strong>TASTE </strong> -as a verb expresses flavor. <br>
            <em>Example:</em>
            <p>It tastes good! This cake tastes very sweet.</p> <br>
            <strong>How does it taste?</strong> -When you want to know the flavor of something. <br> 
            <em>Example:</em>
            <p>When traveling, we can enjoy many flavors that we are not familiar with.</p> <br> <br>
            <strong>Conversation 1</strong><br>
            <strong>Jane:</strong> I thought you didn't like salad? <br>
            <strong>Shekinah:</strong> Yes, but this is delicious. <br> <br>
            <strong>Conversation 2</strong><br>
            <strong>Jane:</strong> I made pizza for dinner. Is it good? <br>
            <strong>Shekinah:</strong> Yes, it is! <br><br>

            <strong>1. What is your favorite snack?</strong><br>
            <strong>2. What unhealthy food do you love?</strong><br>
            <strong>3. What food did your mother always tell you to eat and not to eat?</strong><br>
            <strong>4. What kinds of food did you eat when you were a child? Do you eat the same things now?</strong><br>
            <strong>5. What is the best food to eat when you are sick?</strong><br>
            <strong>6. What is your favorite food that your mother/father cooks?</strong><br>

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel2">Close</button><br>
            <hr>
         </div>

         <br><p>3. I can finally do it!  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel3">Show contents</button></p>
          <div id="travel3" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br>
            <img src="https://lh4.googleusercontent.com/bp3oSN_3PHm6L9kPPTT11CpuOGUY2Nw6XtD-6kVM1YB8h1_9h24AvKxDXfhgih_1A1IctPCVQQ2f-iiIzWMkUQffoo7eqELp5vC6NvJKL9Bl_uPDEL3BkFK0BO9DW1Tb8korrpxk" alt="Error Loading Img" width="50%"><br><br>

            <strong>Kumiko:</strong> So, Danna, are you having fun here in Balicasag? <br>
            <strong>Danna:</strong> Yes, I am! The water is so clear. <br>
            <strong>Kumiko: </strong>I know Balicasag Island is known for scuba diving. <br>
            <strong>Danna: </strong>I’m so glad I got to learn scuba diving back in Hawaii. <br>
            <strong>Kumiko: </strong>Good thing we had a good instructor. <br>
            <strong>Danna: </strong>I had to practice, but now, I can finally do it! <br>
            <strong>Kumiko: </strong>Yes, you can! You're really good! <br>
            <strong>Danna: </strong>Thanks, Kumiko. You too. Come on, let's do scuba diving some <br>
            more. <br><br>

            <img src="https://lh3.googleusercontent.com/o7z65QGBsZePdZrzSuzpJ8O1gTwUa2xywnNRCRx3ghbxYTZEa6yKkfd0QC7VmzgujloCssdMvwzNQ-9049OBREGTdp3m1Ay3uU7yz_tpEozDM5IEhyQE97e1mqYB3m8OPVRJNY1p" alt="Error Loading Img" width="50%"> <br><br>

            <strong><em>Trivia!</em></strong><br>
            <p>Balicasag Philippines is a small island off the coast of Panglao Island, Bohol. <br> It is a marine sanctuary with white sand beach and beautiful corals in shallow <br> and deep waters. Balicasag island is a haven for snorkelers and <br>divers and also for those who simply love to swim and go island hopping. It is 600 meters in diameter <br>and may be explored within 45 minutes.</p><br><br>

            <strong>I can finally do it!</strong><br><br>
            <blockquote>
              <p>"Finally"</p>
              <small>is an adverb that refers to something happening after a long time, typically when <br> there has been difficulty or delay.</small>
            </blockquote> <br><br>
            <p>Some adverbs have the suffix <em>"-ly"</em> added to an adjective (in this case, final +ly).</p><br>
            <p>An <strong>adverb</strong> modifies or says something about an adjective, verb, or adverb. An adverb can <br> function as a whole sentence as well.</p><br>
            <em>Example/s:</em> <br>
            <p>I usually go to school by bus.</p>
            <p>They dance hapilly</p><br><br>

            <strong>Phrases</strong><br>
            <p>I know how to do that. <br>
            I just learned how to. <br>
            I’ll show you how. <br>
            Can you do this too?</p><br><br>

            <strong>Conversation 1</strong><br>
            <img src="https://lh4.googleusercontent.com/5sy-ZTwR2MNRoMmYgUGKruMK7g2QVrVMvlAsOuTEADRU88O1DuySYQTzXuSjac1nOAN0F_X3MbltqB1KUrsr_iJG6UJX5e3wlbjcJh0IwzCipVtcDDFCuNZnWljxwvghRyHmpTRm" alt="Error Loading Img" width="50%"><br><br>

            <strong>Nikki: </strong>Can you help me fix my computer? <br>
            <strong>John: </strong>It's easy. Here, I'll show you how. <br><br>

            <strong>Conversation 2</strong><br>
            <img src="https://lh4.googleusercontent.com/o_cfLbonHskhINZmxISelNtVd0R-FQGNWhOorOkWZkbW02ojY_BImfA9OWz2EOBpedzRWguky69j6tRco5nrkgK8pLbUT_3t0PZd3oXFRi6otm358k-pxy1wi-ya9XeoAXrm4pCf" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jasmine:</strong> Look, I can breakdance. Can you do this too?<br>
            <strong>Tanya: </strong>No, but please teach me! <br><br>

            <strong>Phrases and their Meaning</strong><br><br>

            <blockquote>
              <p>drive someone up the wall</p>
              <small>To irritate or annoy someone; to make a person very angry or bored</small>
            </blockquote> <br>
            <blockquote>
              <p>sail through something</p>
              <small>To pass or progress quickly and easily.</small>
            </blockquote> <br><br>

            <strong>Situation:</strong><br>
            <p>You recently learned how to ski and are excited to tell your Australian friend about it. <br>How can you tell your friend in English?</p>





            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel3">Close</button><br>
            <hr>
         </div>

        <br><p>4. I don't like this feeling!   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel4">Show contents</button></p>
          <div id="travel4" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br>
            <img src="https://lh4.googleusercontent.com/b5D-EAyC-l7h1ecWIyhKH8rkkZZIAwq_9BOI2LQfNKQXywB33lvkUlOVlI6DLySUgIGSe9AnBkO6-Umt_6f0SU_iPJJ7ez8vw2irxMXC8GqhMXi4j_BebtItig1gWhbRyUdq00lU" alt="Error Loading Img" width="50%"><br><br>

            <strong>Danna: </strong>Ah, another relaxing beach. Siargao is so beautiful! <br>
            <strong>Kumiko: </strong>Come on, Kimiko, let’s swim. <br>
            <strong>Danna: </strong>Okay! The water is so nice and warm. <br>
            <strong>Kumiko: </strong>I can stay out here for hours… oh no <br>
            <strong>Danna: </strong>What’s wrong? <br>
            <strong>Kumiko: </strong>I don’t like this feeling <br>
            <strong>Danna: </strong>What is it? <br>
            <strong>Kumiko: </strong>I think I got stung by a jellyfish! <br><br>

            <img src="https://lh5.googleusercontent.com/JDwWyj-vqJwYyQ4q9X0VDB3gIxyRV7K5y2eXeb1YblnwzYXZjE7b9ENypJqbHB4pXVv-HQOhOzsmP_m0H4JIUPRwmktb4O-5VZx5nntabt8eVFUYAcVd_IgvElBbxIsbCFCIHGkp" alt="Error Loading Img" width="50%"><br><br>

            <strong><em>Trivia!!</em></strong><br>
            <p>A small teardrop-shaped island at the coast of the Philippine Deep, Siargao promises <br> a surfing and beach drifting experience like no other as the country's surfing capital.</p><br><br>


            <strong>I dont like this feeling.</strong><br>
            <p>We use <em>"I don't like..."</em> when we want to express that we do not enjoy or approve of something</p> <br>
            <p><em>"Dislike,"</em> which may have a cold and unfriendly tone, is used when we think someone or <br> something is unpleasant. We should be careful when using that word. <br>
            <p>We can also use <em>"hate"</em> when we feel strong hatred for something.</p><br>
            <em>Example/s:</em> <br>
            <p>I don't like boiled eggs. <br>
            I hate going to the dentist</p><br><br>

            <strong>Phrases</strong><br><br>
            <p>I dislike this. <br>
              I don't want this. <br>
              I don't feel good about this. <br>
              I'm not okay with this. <br></p> <br>

            <strong>Conversation 1</strong><br>
            <img src="https://lh4.googleusercontent.com/ws9g3xwMrfZEo6bb5NG2x9Ya3-vZx78gBR3vBFFa5z0gLiIVkPb1qXkeadSwk4HmCNAMfoZMP4WTRrg-vmoqfUpEJrm3Txr2-kAEAEHE5ogQ7ToJHWroTzwnBjhVRp6HtNO0jut3" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jack: </strong>I don’t feel good about this trip to the UAE. <br>
            <strong>Rose: </strong>So don’t go. <br><br>

            <strong>Conversation 2</strong><br>
            <img src="https://lh3.googleusercontent.com/ZV40RzZ5iGMJVMBbaP7IaSlk22xIiXdukWhnUEhdJ1adDvgExKgKTZwpD6kGyWA2rHSNBexNePf0lWPljOT4EUJyC61Bj0b9RWSeQp9waRRnX6vZPv1aTquU2PKG1J0DSXhP5ZUj" alt="Error Loading Img" width="50%"><br><br>

            <strong>Carmela: </strong>I don’t want this sandwich. Do you want it? <br>
            <strong>Nips: </strong>Sure! Thanks! <br><br>

             <strong>Phrases and their Meaning</strong><br> <br>

            <blockquote>
              <p>itchy feet</p>
              <small>Feeling of a need to travel.</small>
            </blockquote> <br>
            <blockquote>
              <p>miss the boat</p>
              <small>To fail to take advantage of an opportunity.</small>
            </blockquote> <br><br>
            

            <strong>Situation:</strong><br>
            <p>Your travel buddies are planning an itinerary that you are not happy with. <br>How can you tell your friends that you don’t like what they are doing?</p>

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel4">Close</button><br>
            <hr>
         </div>

         <br><p>5. I hurt my foot  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel5">Show contents</button></p>
          <div id="travel5" class="collapse">
            <p><em>Objective: To help the student learn on how to express aches and pains to refer to a general feeling in English.</em></p><br>
            <img src="https://lh6.googleusercontent.com/jlhFr0EjpnMR57HFuvvkvOXNJLXdte_M3EteJ7gdwhrSMQgMQfkkn586XOw7ZkmHBUo5MIYuJtRZCNM1JNR4VF5kD2ZQ2Oqr6SwC4onGLa9KAscOpgsm_HGQFmFBeEAp6kYrhwxL" alt="Error Loading Img" width="50%"><br><br>

            <strong>James: </strong>I’m getting tired. Do we have to climb all the way up?<br>
            <strong>Danna: </strong>Yes, please! I want to see the whole city. <br>
            <strong>James: </strong>But it’s so high. <br>
            <strong>Danna: </strong>Hey, watch your step! <br>
            <strong>James: </strong>Ouch! <br>
            <strong>Danna: </strong>Are you okay? <br>
            <strong>James: </strong>I hurt my foot. <br>
            <strong>Danna: </strong>I think you have a sprain. Let me help you. <br>
            <strong>James: </strong>Thank you, Danna!. <br><br>

            <strong><em>Trivia</em></strong><br><br>
            <strong>Symptom Relief</strong><br>
            <p>Ice your foot for 20 minutes 2 to 3 times a day. DO NOT apply ice directly to your skin.
              <br>Keep your foot raised to help keep swelling down.</p><br><br>

            <strong>Useful Phrases</strong><br><br>
            <p>I don't feel well. <br>
              I'm going to be sick. <br>
              I need a doctor. It's painful. <br></p><br>

            <strong>Conversation 1</strong><br>
            <img src="https://lh3.googleusercontent.com/qL3RG_0z9W7m15Av5MXuNiFr0pQlNrC0K6WsxooG9G2yVd79ryYf8u1sw352LnDaMaMJyXQfvcyR3bKMWNuRNcYWNT83VDPBh6leGPYrkgnG4o_C1eOQKTonMNKpMkMs1WGzl4iF" alt="Error Loading Img" width="50%"> <br><br>

            <strong>Jane: </strong>I don't feel well. <br>
            <strong>Jack: </strong>Here, take some medicine. <br><br>

            <strong>Conversation 2</strong><br>
            <img src="https://lh5.googleusercontent.com/bXQXKU1OG054vY3IScB5DLMoWNWwmV2ie05bWdmXivZKvFVSCA-hjOHT2vSquRkxkyDRhA0gqhrBZ7Q4oveLcHyF1ji9YxVJM3Vy7ss3wANpnOfAc5TnMpll4dCBvAgrJXH2-Yvb" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jade: </strong>I ate too much. <br>
            <strong>Ben: </strong>Are you okay? <br>
            <strong>Jade: </strong>I’m going to be sick <br><br>

            <strong>Conversation 3</strong><br>
            <img src="https://lh5.googleusercontent.com/emBJ8pBIm55h_HVcyW1_KoKz3Bgs0lWvnfQGqDTn6MwRLgRA62ZAtU5u4RkZhy9YM0gXqJcfG8x_oL0W3Pvqf2Yp5KuqLFLKPwXLrsxsbUr3s-Q-S0MLepd9shQOoNKEAfegW8tz" alt="Error Loading Img" width="50%"><br><br>

            <strong>Maricar: </strong>I’ve had this fever for days. I need a doctor. <br>
            <strong>JP: </strong>I can take you to the hospital. <br><br>

            <strong>Words and their Meanings</strong><br><br>

            <blockquote>
              <p>Couchsurfing</p>
              <small>This term was commonly used to describe the practice of moving from one friend’s house to the other often sleeping on the couch.</small>
            </blockquote>
            <blockquote>
              <p>Staycation</p>
              <small>A vacation that is spent at home enjoying time to relax and explore your local area.</small>
            </blockquote>
            <blockquote>
              <p>Mancation</p>
              <small>A vacation for men only, where women are banned and the guys do some sort of <em>“manly”</em> activity like go spearfishing.</small>
            </blockquote><br><br>

            <strong>Situation:</strong><br>
            <p>Something you ate is making you feel nauseated. <br>How can you express your discomfort?</p>


            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel5">Close</button><br>
            <hr>
         </div>

        <br><p>6. I like relaxing in Coron, Palawan!   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel6">Show contents</button></p>
          <div id="travel6" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL. </em></p><br>
            <img src="https://lh3.googleusercontent.com/LsRsEUjK47qTt9gVbR0CWGVxLb7MoADRUWfsyeoXw8Me0_GEy4-SfbaRQJY4j1DPNSjR9jN3M5JfaLwr5u7YfeJyQ2UP77rADiTWxn159DmndM28VLQfVoH6yJzAoMcPQa8BQMkL" alt="Error Loading Img" width="50%"><br><br>

            <strong>Lowie: </strong>Sander, Coron is really beautiful. <br>
            <strong>Sander: </strong>I agree. Coron is a special island. <br>
            <strong>Lowie: </strong>It’s so peaceful here. <br>
            <strong>Sander: </strong>It’s heaven. Look at how clear the water is. <br>
            <strong>Lowie: </strong>And the sky is so blue! <br>
            <strong>Sander: </strong>The word for this, Lowie, is paradise. <br>
            <strong>Lowie: </strong>Paradise. I like it. I like relaxing in Coron. <br>
            <strong>Sander: </strong>Me too! Come on, Lowie, let’s swim! <br><br>

            <strong><element>Trivia</element></strong><br><br>
            <p>Coron Island is in Palawan. It has many beaches and lakes. Kayangan Lake is famous for its clear waters. <br> Lake Barracuda is popular among divers.</p><br><br>

            <em>I like relaxing in Coron. </em><p>When you want to say that you like doing something, <br>
              you use the verb <em>"like"</em></p><br>

            <p>For example, you can say, <em>"I like to relax in Coron" </em>or <em>"I like relaxing in Coron."</em></p><br>

            <p>These two sentences mean the same thing, but the use of the gerund (verb+ing) after <br>the verb “like” in the second sentence expresses that this is a habitual action</p><br><br>

            <p><em>"Relaxing"</em> here also functions as a noun, not a verb.</p><br>
            <p>1. I like sleeping till late in the morning. <br>
              2. I enjoy reading novels. <br>
              3. I am happy to be here. <br>
              4. I love traveling. <br></p><br>


              <strong>Conversation 1</strong><br>
              <img src="https://lh3.googleusercontent.com/EakM3_LSw36PFFkMaSJuD-2wEARDUZjuEfjjqdx6UyRjd2ClcffpWakkcnG8k9G_7arzyFPBtOWht54l1WgEUrW_v2O3Nar_mSmgWTxbDxEisyA1gt3ebWXD_E1uXo2lOttKZ5uz" alt="Error Loading Img" width="50%"><br><br>

              <strong>DJ: </strong>You’re going on a trip again? <br>
              <strong>John: </strong>Yes! I love traveling! <br><br>

              <strong>Conversation 2</strong><br>
              <img src="https://lh4.googleusercontent.com/2Kj_-2Hr_3qI8eoS68l2CyJjhQiOLn6KfSia1kWIyh3uO14LMBzC8jHRpu7io8t2OTcHl9r-bDKEAKBG3KXApT2oKmhx6BKhAPp1nA1WLpDRgsgEs1av_lUdfdO39VxmYr206ues" alt="Error Loading Img" width="50%"> <br><br>

              <strong>John: </strong>Thank you for coming to our event. <br>
              <strong>Jonathan: </strong>I’m happy to be here. <br><br>

              <strong>Phrases and their Meanings</strong><br><br>

              <blockquote>
                <p>head for</p>
                <small>go in a direction for.</small>
              </blockquote>
              <blockquote>
                <p>in the middle of nowhere</p>
                <small>in a place that is far away from where most people live.</small>
              </blockquote>
              <blockquote>
                <p>out of season</p>
                <small>not within the main holiday period.</small>
              </blockquote>

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel6">Close</button><br>
            <hr>
         </div>

         <br><p>7. I think Chocolate Hills is beautiful!   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel7">Show contents</button></p>
          <div id="travel7" class="collapse">
            <p><em>Objective: To help student describe beautiful places.</em></p><br>
            <img src="https://lh3.googleusercontent.com/e9bpsFN-92vld_n0ynKtQk8LsBjz0uH8cjR8rfDysfvtI4S-Q_zU6BFyXiFC9nGsrVaOyMaB03FNNTZEq8VKhrPHH0Xe3XqnyFbUFPTn4fxZmmYxn1w1WwEkcoCVdW9JjRfJ-NlE" alt="Error Loading Img" width="50%"><br><br>

            <strong>Ben: </strong>Fe, this is the chocolate hills. <br>
            <strong>Fe: </strong>Wow! <br>
            <strong>Ben: </strong>Have you ever seen a lot of hills before? <br>
            <strong>Fe: </strong>No, this is my first time. <br>
            <strong>Ben: </strong>What do you think of this one? <br>
            <strong>Fe: </strong>I think Chocolate hills is beautiful. <br>
            <strong>Ben: </strong>I think so, too! We are lucky it’s dark brown today. <br>
            <strong>Fe: </strong>Very lucky. It really looks like a chocolate from a far. I am so happy! <br><br>

            <strong><em>Trivia</em></strong><br><br>
            <p>There ara atleast 1,260 hills but there may be as may as 1,776 hills spread over <br>
              an area of more than 50 square kilometres (20 sq mi). They are covered in green grass <br>
              that turns brown (like chocolate) during the dry season, hence the name. <strong>The Chocoloate Hills</strong> <br>
            is a famous tourist attraction of Boho.</p> <br><br>

            <strong>What is the famous tourist spot in your country?</strong><br><br>

            <strong>Phrases</strong><br>
            <p>What do you think? <br>
              I think so. <br>
              I don't think so. <br></p><br>

            <img src="https://lh5.googleusercontent.com/fvGKudFtuoxX6cbwgdG7BBlYv8k9g9-hx1o_MCFQSOuwBxuFwU2jg4x6N2BQnwo_w3Cc6LNoNFXmNx3Bp37XhYUNgnXd2Ix98wHAf-JxUkPA3F9zkyvkNm3ORpZ7MYFZ4Seyutt1" alt="Error Loading Img" width="50%"><br><br>
            <em>Example/s:</em><br>
            <strong>A: </strong> What do you think?<br>
            <strong>B: </strong> I think it is very delicious! <br>
            <strong>A: </strong> Really? I don't think so. <br><br>

            <strong>Related Phrases</strong><br><br>
            <img src="https://lh4.googleusercontent.com/nRRC4ssgB3WkA8awPP-P_l3qHrK8x57tS8Y7OGi5y0agVSM56195MT_G_S3VyS53DwOuB80J11tHgl689Hf3J0xn4-ys0AYxlJkNLDCsk1TCUWdeU8eKBbw3aOj13XsL2HIq_Ajk" alt="Error Loading Img" width="50%"><br><br>

            <strong>A: </strong> It’s a picturesque view! <br>
            <strong>B: </strong>This is a nice place, don’t you think? <br><br>


            <strong>Conversation 1</strong><br>
            <img src="https://lh4.googleusercontent.com/lmdIEuLTZLWLJLGXA-gqNpYOrkVsMXECdoYHsc6LUgGvewVrxrRPnUeEQ6eYKqaounX8BmDxFJIw99lbCrkELcmU-Pk_s_FWrG2DcsjDSYU20K2LyH-k_kmYTObgfVNegzFn_kD8" alt="Error Loading Img" width="50%"><br><br>
            <strong>Jenny: </strong>That is a famous tourist  spot. <br>
            <strong>John: </strong>It’s very lovely. <br><br>


            <strong>Conversation 2</strong><br>
            <img src="https://lh3.googleusercontent.com/9RF3W3y7G3OBbRqfj6Tg5KgB1Q5qXppy3FwP4k6NeeWJ50fjx7MdRTcl0-HMvwlhMOB_WrNv1x3VhaIOFVbeRi6mkjsUiYEhUUfaFIB8GMRxmSNa8kvnzIcghd1SU33Q63Zig8aL" alt="Error Loading Img" width="50%"><br><br>

            <strong>Zander: </strong>Wow! This is luxurious car, don't you think? <br>
            <strong>Danna: </strong>Indeed! It's so sophisticated. <br><br>

            <strong>Phrases/Words and their Meanings</strong><br><br>

            <blockquote>
              <p>Last Minute Deals</p>
              <small>these are promotions that are advertised at the latest possible time for those who are more spontaneous!</small>
            </blockquote>
            <blockquote>
              <p>Splash out</p>
              <small>a phrasal verb (mainly used in British English) meaning to spend money freely</small>
            </blockquote>
            <blockquote>
              <p>Porter</p>
              <small>a member of staff in a hotel who assists guests with carrying their luggage.</small>
            </blockquote>




            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel7">Close</button><br>
            <hr>
         </div>


         <br><p>8. I wish I could do that too.  <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel8">Show contents</button></p>
          <div id="travel8" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br>
            <img src="https://lh3.googleusercontent.com/qhxZfFA2kE777SOBuTShic3EGVWPCw-KnYjbg84HYvnDbLoiSJTDJbYF8m93zobKPDHA-M4leO4dGVVIMHbYxH2JVhtWZ74FY5SKPHx4C-V2qhGhxHhcUNOX0WQMkoZb0W1ZPKw1" alt="Error Loading Img" width="50%"><br><br>

            <strong>Belle: </strong>This is dried mango. It’s a popular snack here in Cebu. <br>
            <strong>Carlo: </strong>This is so sugary! <br>
            <strong>Belle: </strong>It is! The flavor is sweet. <br>
            <strong>Carlo: </strong>How was it made? <br>
            <strong>Belle: </strong><p>Cut into thin slices, and place them on the Silpat.Put the mango in the oven, and bake   for 2 to 3 hours, flipping them over every 30 minutes or until they're dry</p>
            <strong>Carlo: </strong>Wow! That’s interesting. <br>
            <strong>Belle: </strong>It’s nutritious and convenient to eat. <br>
            <strong>Carlo: </strong>I wish I could do that too. <br><br>

            <strong><em>Trivia</em></strong><br><br>
            <p>Cebu is a 1st provincial income class island province of the Philippines located in the Central Visayas (Region VII) region, and consisting <br> of the main island itself and 167 surrounding islands and islets. Its capital is Cebu City,<br> the oldest city and first capital of the Philippines</p><br><br>


            <strong>Related Phrases</strong><br><br>

            <p>I’ve scheduled a trip to Europe this year. <br>
              My goal is to travel abroad. <br>
              I’m looking forward to my beach trip. <br>
              I’m looking into taking language classes. <br>
            </p><br><br>

            <strong>Conversation 1</strong><br><br>
            <img src="https://lh5.googleusercontent.com/deK2DOpBiWlulPZIeWPdT216vzhsNQiGwEQAf-fuZrTWDs34hnC0wTgH8_WztF78dHaF4qnsGl4tBRIl7wK-ab83ODYvhgOvZAdRSVnsn-kDZLAZ71eUXU3vnGpjUsahGhnlWTVP" alt="Error Loading Img" width="50%"> <br><br>

            <strong>Abby: </strong>You are working so hard. <br>
            <strong>Allen: </strong>My goal is to travel abroad. I have to save for my ticket! <br><br>

            <strong>Conversation 2</strong><br><br>
            <img src="https://lh5.googleusercontent.com/JqkuNy_E9V-PaoqCKSLzbkCjQm7lHbnt8MjN1j0JxL20cqv7P4G4GixbO7ZNCVWv-Q494_QXqappvmHhm-NjG1iDPdb0hZ2H5LQn-oC1hwM78xfcKb7-ZQGCdJ0-zW3MZS8fw6q2" width="50%" alt="Error Loading Img"><br><br>

            <strong>Allen: </strong>Any travel plans this year? <br>
            <strong>Abby: </strong>I’ve scheduled a trip to Europe this year. <br><br>

            <strong>Phrases/Words and their Meanings</strong><br><br>

            <blockquote>
              <p>places of interest</p>
              <small>memorable and honorable places.</small>
            </blockquote>
            <blockquote>
              <p>wildlife safari</p>
              <small>an observational holiday, mainly in Africa.</small>
            </blockquote>
            <blockquote>
              <p>stunning landscape</p>
              <small>a beautiful countryside.</small>
            </blockquote><br><br>



            <strong>Situation: Your teacher is asking about your future travel plans.</strong>



            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel8">Close</button><br>
            <hr>
         </div>

         <br><p>9. I'm so glad you are here!   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel9">Show contents</button></p>
          <div id="travel9" class="collapse">
            <p><em>Objective: To let the student express their thankfulness to someone in English.</em></p><br><br>
            <img src="https://lh5.googleusercontent.com/XCCQ96mund6nZ09VGTj9Jp8ac4Rw6jJWUUmdfsz0YmI68iw8XC08_3BMHSk-vqgWieLSM7ZpcNON1qa5PGrzPLUXS3c9SdW4ktMcYwd95QDPnDoFBwgrzteJRaXeVkAc0qTYUzBy" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jennifer: </strong>Thank you for bringing me to the clinic. I’m so glad you are here! <br>
            <strong>Loraine: </strong>No problem. How are you feeling? <br>
            <strong>Jennifer: </strong>The doctor said I can go back to the hotel now. <br>
            <strong>Loraine: </strong>That’s great! You can rest tonight. <br>
            <strong>Jennifer: </strong>And then, let’s visit the tarsiers tomorrow. <br>
            <strong>Loraine: </strong>Are you sure you’re okay? <br>
            <strong>Jennifer: </strong>Yes! Let’s just walk slowly tomorrow. <br>
            <strong>Loraine: </strong>Of course! <br> <br>

            <strong><em>Trivia</em></strong><br><br>
            <p>The Philippine tarsier is one of the most unique and peculiar animals on the planet.The tarsier’s eyes are fixed in its skull,<br> meaning it can be turned in their sockets. So if it wants to see what’s beside and behind it, it has to turn <br> its entire head. This is a special adaptation for its neck which allows its round head to be rotated 180 degrees.</p><br><br>

            <em>Source: http://pguims-random-science.blogspot.com/2011/12/tarsiers-can-turn-their-heads-180.html</em><br>
            <img src="https://lh6.googleusercontent.com/6Tc-78jlujR-W5qlyvYAK6wBWH2x_Cpn89GS2IGKFbBnbuX6KXDs8FvxRXDuOI0G1NzFHGqwZqAJ0BYe9V81-PZv57K9Lq3JaORSh3tcS-TUuRRUVwxIBj_3m3G0j8crT-Z_nG_M" alt="Error Loading Img" width="50%"><br><br>


            <strong>Phrases</strong><br><br>
            <p>Good thing you are here! <br>
              I’m so relieved. <br>
              Are you feeling better? <br>
              I was so worried. <br></p><br>


            <strong>Conversation 1</strong> <br><br>
            <img src="https://lh3.googleusercontent.com/X991h71-6fdrPYD2U1VnbxrTmCmsvQJ8ETIIBVWzFHpuKhbhOa8sva67sON2uxA0I7rmVHfyN7loTuvtPdp2-MCyyTRVv1g1waFHYhdqDwhJMovGfXXtu2E-RYsr-hM_g_f2mhwb" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jane: </strong>I’m feeling better now. <br>
            <strong>Peter: </strong>I’m so relieved. <br><br>


            <strong>Conversation 2</strong><br><br>
            <img src="https://lh5.googleusercontent.com/99momeLSRzHYmGGRkqfFxrokNMDf11UxEkXhKH9-GdH7GWmqPKybXxpiANrgXymMeHh_A6pRLm7yA7osrndCiDVlOF-UHU6CSvfG0FHPIdh_oi_l1UtOmDg3TMtqYJxfbXWotUYs" width="50%" alt="Error Loading Img"><br><br>

            <strong>Mother: </strong>What time did you get home last night? <br>
            <strong>Daughter: </strong>I got home at midnight. <br>
            <strong>Mother: </strong>I was so worried! <br><br>

            <strong>Phrases/Words and their Meanings</strong><br><br>

            <blockquote>
              <p>Voyage</p>
              <small>a long journey on a ship or in a spacecraft.</small>
            </blockquote>
            <blockquote>
              <p>hitch-hike</p>
              <small>travel by getting free rides in passing vehicles.</small>
            </blockquote>
            <blockquote>
              <p>pilgrimage</p>
              <small>a journey to a sacred place</small>
            </blockquote>
            <br><br>



            <p><strong>Situation: You lost sight of your American travel buddy while exploring the town market. After a few minutes of looking and asking around, you finally find him, also looking for you. <br>
            How can you express your concern?</strong></p>



            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel9">Close</button><br>
            <hr>
         </div>

         <br><p>10. They’re amazing!   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel10">Show contents</button></p>
          <div id="travel10" class="collapse">
            <p><em>Objective: To help student talk about human wonders of the world.</em></p><br><br>
              <img src="https://lh6.googleusercontent.com/-q1MHf174Z4AYTmdleWaaJybZ6wQJPpdITkHTrXxJ--5DxzHIOwi5Pt6C5cal0aj8XsWvHccFjpAo-I2ATlyOlxxQ-2G0hJXPQU8BHAh7hzBYnxPcNx1ExJp0cMcOnv-6fpEc8zS" alt="Error Loading Img" width="50%"><br><br>

              <strong>Cee: </strong>These are the famous rice terraces! <br>
              <strong>Risa: </strong>They’re amazing! <br>
              <strong>Cee: </strong>They were built by the Ifugao people 2,000 years ago. <br>
              <strong>Risa: </strong>That’s a long time! <br>
              <strong>Cee: </strong>Do you have something like this in Japan? <br>
              <strong>Risa: </strong>Yes, we call them tanada. You can see them in the countryside. <br>
              <strong>Cee: </strong>Cool! <br><br>

              <strong><em>Trivia</em></strong> <br><br>
              <p>The Banaue Rice Terraces is a UNESCO World Heritage Site. It is about 2,000 years old. The Ifugao tribe built <br>  the terraces.</p><br><br>

              <p>We can make adjectives by adding <em> –ing</em> to certain verbs.</p><br>
              <em>Example/s:</em><br><br>

              <strong>surprising </strong> <em>(surprise + -ing):</em> <p>The end of the story was surprising.</p><br>
              <strong>interesting </strong> <em>(interest + -ing):</em> <p>This game is interesting!</p><br><br>

              <strong>Conversation 1</strong><br><br>
              <img src="https://lh3.googleusercontent.com/HcxScY0J_Gj_B7IgNkRqJn8GbglwTz6bRqDRJFG2AjVI4FsGOmz7Ec-mDz0XvDq2VtrXd--6OO5dUjdkbe5mHsRuBEi-gZT0OM5YYjDjBYuigTNMLAKZ4ldjkfizPoowE_Tj_s5h" alt="Error Loading Img" width="50%"><br><br>

              <strong>Shamma: </strong> Do you get along with your co-workers? <br>
              <strong>Joreza: </strong> Yes! They’re wonderful. <br><br>

              <strong>Conversation 2</strong><br><br>
              <img src="https://lh3.googleusercontent.com/BpXgrdBPB5SqaJ9qtHe6FoIESimH2FdojpSZ_tczfXYK8qLKU804J1Ytu0Nj9qz329poN8s4UKG9OzkgMnkYpxqlRVhH-l03ZcuFDUiqnRAVDdTmTjSqxGz1Kks0_5ca6Otm8y9L" alt="Error Loading Img" width="50%"><br><br>

              <strong>Danna: </strong>Nice shoes! <br>
              <strong>Zane: </strong>Thanks! I really like them. <br><br>


              <strong>Phrases/Words and their Meanings</strong><br><br>

              <blockquote>
                <p>getting away from it all</p>
                <small>escaping in order to rest from a daily routine.</small>
              </blockquote>
              <blockquote>
                <p>go off the beaten track</p>
                <small>to visit an uncommon place.</small>
              </blockquote>
              <blockquote>
                <p>guided tour</p>
                <small>a tour in which a group of people is guided by an expert.</small>
              </blockquote>
              <br><br>

              <p><strong>Your friend just told you he/she got promoted. What will you say to your friend in English</strong></p>

            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel10">Close</button><br>
            <hr>
         </div>


         <br><p>11. Want to come with me?   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel11">Show contents</button></p>
          <div id="travel11" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br><br>
            <img src="https://lh4.googleusercontent.com/HyJAcSuzVAOGyQg8ZUxTwvOv9Jg6zFA4TNKmG_w211f0OHfHTmEnkT_D2agxhHOmMVpd_tHio5awU_bETtbixQftUnfvvgtmLXodysk5sgZVjO2Rf05W6WnVexpu3f2BzeNfIYen" alt="Error Loading Imf" width="50%"><br><br>

            <strong>Ben: </strong>Ana! Hi, Ana! It’s me, Ben! <br>
            <strong>Ana: </strong>Oh right! We met on the plane. Hi Ben! <br>
            <strong>Ben: </strong>Yeah! How are you? <br>
            <strong>Ana: </strong>I am enjoying my trip. <br>
            <strong>Ben: </strong>I’m so glad you like it here. I’m going backpacking around the Philippines. Want to come with me?<br>
            <strong>Ana: </strong>Yes! <br>
            <strong>Ben: </strong>Great! I leave tomorrow night. Let’s meet at the bus station in South bus terminal. <br>
            <strong>Ana: </strong>Okay. I’m so excited! Thanks! <br><br>

            <strong><em>Trivia</em></strong><br><br>

            <p>There are many beautiful sightseeing places in Cebu. The mode of transportation in Cebu <br>
            are jeepney, bus, bike taxi and taxi cab.</p><br><br>


            <strong>Conversation 1</strong><br><br>
            <img src="https://lh4.googleusercontent.com/fvXd6FcfOdP4P_OQCAefSg1d0-Q4dUWCm_AuFm3lWScjxD1A553poHqFolenuC_JV49UY6EgqSYeuQy6PlyOXYw5wdtg0dYOMZTOqTlcgK8tG11UJMCZfmmb8e3VFjmUhAIYblWV" alt="Error Loading Img" width="50%"><br><br>
            <strong>Ben: </strong>I’m in the Philippines. <br>
            <strong>Fe: </strong>Who are you with? <br>
            <strong>Ben: </strong>I’m with my best friend. <br><br>


            <strong>Conversation 2</strong><br><br>
            <img src="https://lh5.googleusercontent.com/OL6JGLt24nWxeI5I2lb4e6cC3O-vKIeM54-BbBxE8SLyAnjqCD11DvxXEjLrmQrCM1f6_ZQeMCsa1Qf9eMIoxkZDxeaqIomEv2qKLAngYUtYJq7Y2eMRqjcK2sECSP5QceWKdv4r" alt="Error Loading Img" width="50%"><br><br>


            <strong>Fe: </strong>Where are you having lunch? <br>
            <strong>Ben: </strong>I’m going to the restaurant downstairs. We can eat together. <br><br>

            <strong>Conversation 3</strong><br><br>
            <img src="https://lh4.googleusercontent.com/puWkGhIuKb7MnAK40KLpPU0RJsb47WFhhRc4EUvSGyXbC60wMfsRxysgHWPzJ5n5cgCriwt0QxDR5U0koEwaifFgayZ0YnBVmh4vLDjB8uoFzVY1PgPAOMKoF4MWNdtb6Xjqebis" alt="Error Loading Img" width="50%"><br><br>

            <strong>Ben: </strong>I want to go to Hawaii. <br>
            <strong>Fe: </strong>Can you go there with me? <br>
            <strong>Ben: </strong>Of course. <br><br>


            <strong>Phrases/Words and their Meanings</strong><br><br>

              <blockquote>
                <p>Tube</p>
                <small>an underground station where underground trains depart and leave, esp in London</small>
              </blockquote>
              
              <blockquote>
                <p>charter flight</p>
                <small>a cheap regular flight.</small>
              </blockquote>

              <blockquote>
                <p>far-off destination</p>
                <small>a distant place.</small>
              </blockquote>


            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel11">Close</button><br>
            <hr>
         </div>


         <br><p>12. What are your plans in the Philippines?   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel12">Show contents</button></p>
          <div id="travel12" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br><br>
            <img src="https://cache-graphicslib.viator.com/graphicslib/destination/philippines-461393.jpg" alt="Error Loading Img" width="50%"><br><br>

            <strong>Risa: </strong>Excuse me. Are you from Cebu?<br>
            <strong>Shekinah: </strong>Oh, yes. I am. And you? <br>
            <strong>Risa: </strong> I am from Tokyo, Japan. My name is Risa! <br>
            <strong>Shekinah: </strong>Hello Risa. I am Shekinah. Nice to meet you. <br>
            <strong>Risa: </strong>Nice to meet you too. <br>
            <strong>Shekinah: </strong>Is it your first time in the Philippines? <br>
            <strong>Risa: </strong>Yes, I am so excited <br>
            <strong>Shekinah: </strong>Oh! What are your plans in the Philippines? <br>
            <strong>Risa: </strong>I plan to tour the islands. <br>
            <strong>Shekinah: </strong>That’s good. <br>
            <strong>Risa: </strong>I want to make friends, too <br><br>

            <strong><em>Trivia</em></strong><br><br>

            <p>The Philippines is made up of over 7,000 islands. It has mountains, beaches, forests, and some wildlife. <br> English is widely spoken in the Philippines. </p><br><br>


            <strong>Related Phrases:</strong><br>
            <p>What do you want to do? <br>
              Any plans? <br>
              What's your schedule? <br>
              Do you have anything in mind? <br></p><br>


            <strong>Let's talk about these!</strong><br>
            <p>1. Tell me about your country. <br>
              2. What is the food like in your country? Is it based around meat, fish or vegetables? <br>
              3. What agricultural products are produced by your country? <br></p><br>


              <strong>Conversation 1</strong><br><br>

              <img src="http://m3systemdownload.com/wp-content/uploads/2011/12/Talking-To-Girl-e1323412650411.jpg" alt="Error Loading Img" width="50%"><br><br>


              <strong>Candace: </strong>Any plans for Saturday night <br>
              <strong>Zac: </strong>Well, I want to do my homework. <br>
              <strong>Candace: </strong>Oh, come on. Watch a movie with me. <br>
              <strong>Zac: </strong>Okay. But I must get home early. <br><br>

              <strong>Conversation 2</strong><br><br>
              <img src="https://ak0.picdn.net/shutterstock/videos/23598520/thumb/1.jpg" alt="Error Loading Img" width="50%"><br><br>

              <strong>Candace: </strong>Hi, I just arrived in the Philippines <br>
              <strong>Zac: </strong>So, what’s your schedule today? <br>
              <strong>Candace: </strong>I’m going to Carbon to buy some souvenirs <br><br>

              <strong>Phrases/Words and their Meanings</strong><br><br>

              <blockquote>
                <p>Means of transport </p>
                <small>general term for the different kinds of transport</small>
              </blockquote>
              <blockquote>
                <p>commute </p>
                <small>travel some distance between one's home and place of work on a regular basis.</small>
              </blockquote>
              <blockquote>
                <p>All-Inclusive</p>
                <small>Including everyone or everything. In holiday terms, this would refer to a hotel deal where the price <br> usually includes accommodation, meals and drinks </small>
              </blockquote>

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel12">Close</button><br>
            <hr>
         </div>


         <br><p>13. I wish I could do more.   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel13">Show contents</button></p>
          <div id="travel13" class="collapse">
            <p><em>Objective: To learn words and phrases about doing more in the context of travel.</em></p><br><br>
            <img src="https://lh3.googleusercontent.com/zRT2bsa6vCHOUsi10TbMVHwbrv7mYMTXofGRfbALf0VtwmuyLUYyoGHD-6TL56WEP6gklZkxSscuFlTA1itFVGKFYC9xBNOjBsb9cZjNOucI7SRhacLhqbwn9kNvcX5Scm_xWjwd" alt="Error Loading Img" width="50%"><br><br>

            <strong>Jasmine: </strong>Okay, Danna, here are our plane tickets back to Manila. <br>
            <strong>Danna: </strong>Okay, Danna, here are our plane tickets back to Manila. <br>
            <strong>Jasmine: </strong>It was really fun, wasn’t it? And we only went to 18 places! <br>
            <strong>Danna: </strong>I know there are more beautiful places I didn’t get to see. <br>
            <strong>Jasmine: </strong>Well, we got to try lots of things. <br>
            <strong>Danna: </strong>I wish I could do more. <br>
            <strong>Jasmine: </strong>Maybe you can! Visit the Philippines again! <br>
            <strong>Danna: </strong>Okay, I’m sure I will. <br><br>

            <strong><em>Trivia</em></strong><br><br>

            <p>American, Japanese, and Korean tourists are the top three visitors in the Philippines in 2016. <br> “It’s More Fun in the Philippines” is the official tourism tagline/catchphrase. Some tourists visit the Philippines to <br> learn English and to explore the country.</p><br> <img src="https://lh4.googleusercontent.com/u234TVGegN8DocduLyT7RgnuU19XUMFGAmCLIrDqR_6zRNa4D0SsS53GRx_uwf4EKwe2COTSoANcwNX16HCfj6zobbdNmPPGo5jGn2-sE6CoP7ZKcuvP4Y_gn2dJ1tP4KlUhkfOL" width="50%" alt="Error Loading Img"> <br><br>


            <strong>I wish I could do more.</strong><br><br>

            <p>The clause after the word, <em>“wish”</em> contains hopes for something that might not come true.</p><br>
            <p>These wishes do not usually refer to a present situation, but can be used to wish something was done in the past.</p><br><br>



            <em>Example/s:</em><br><br>

            <p>I wish I could play the guitar as well as you. <br>
              I wish my father would give up smoking. <br>
              I wished she was at home when I called. <br></p><br>


              <strong>Conversation 1</strong><br><br>
              <img src="https://lh5.googleusercontent.com/WbzBFQaVcoNJEbqCePVUt1yccj53SR5K2ehjCxakLXKTGpw94_qPBAtfK4yN0fVNfJISfM6xBa1e9ckraDQo6QfMjb7fWI2uVMj1xsqoBIwoMHfHeI8_gvKN52VszPFFlYWYf59w" alt="Error Loading Img" width="50%"><br><br>

              <strong>Ben: </strong>How will you improve your performance this year? <br>
              <strong>Ana: </strong>I will do better in my tasks. <br><br>

              <strong>Conversation 2</strong><br><br>
              <img src="https://lh4.googleusercontent.com/Rj9n0gRpKxY_Druavu_6SbFcXLbaAOqBfvZnUyi_6U7jWeZnyZQ9M1kEgbv_nxl_OtcLrMhFu8Dpm6TWdhylhM9KWKuMb-1RQ27htnaZyh1g9L6r5Npw2povBZ6bGrcOECDns4SL" width="50%" alt="Error Loading Img"> <br><br>

              <strong>Sheila: </strong>Next year, you’ll be in charge of this project. <br>
              <strong>Angela: </strong>I can’t wait to do it! <br>

            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel13">Close</button><br>
            <hr>
         </div>

          <br><p>14. My family likes to eat out.   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel14">Show contents</button></p>
          <div id="travel14" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br><br>
            <img src="https://lh3.googleusercontent.com/XnpNHbS4-QX35vjRlHSBp_YdEc1naT5kgTXKYDAQsY1paHK_1xLgEOH_3sbQKcN89LKl28Y3SMPXwAVEBYd1-IP2M7roUrMmffej3MTPFFC632RGXKDU0rAuxvvBB2wgZqZVEYw_" width="50%" alt="Error Loading Img"><br><br>


            <strong>John: </strong>Hi Sofie, meet Danica. I met her while I got breakfast at the market. <br>
            <strong>Sofie: </strong>Hello, Danica! I am Sofie. <br>
            <strong>Danica: </strong>Nice to meet you, Sofie. <br>
            <strong>Sofie: </strong>Thank you. I love it here. <br>
            <strong>Danica: </strong>That’s good to know. Hey, why don’t you two join my family for surfing? <br>
            <strong>John: </strong>That would be awesome! Can your whole family surf? <br>
            <strong>Danica: </strong>Yes! How about you, Sofie? What do you love doing with your family? <br>
            <strong>Sofie: </strong>That’s so cool. My family likes to eat out. <br>
            <strong>Danica: </strong>That sounds great, too! <br><br>
            

            <img src="https://lh4.googleusercontent.com/rEFBxht2AeVrUAmxVlU_WLZhRMzYwBY51TBcsUj4E4IJxHjGD2-mDvYlkxkPI78bBvh7WGYMSzNH0IgB_NUwkWDzOjZvWkpAZLNINysG5W3lO19s-yWiJj1J1lcV3DlPxHzf8t0x" width="50%" alt="Error Loading Img"> <br>

            <strong><em>Trivia</em></strong><br><br>
            <p>La Union is one of the best places to surf in the Philippines. Waves in La Union can reach up to ten feet high! <br> Many surfing competitions are held in La Union.</p> <br><br>

            <strong>My family likes to eat out.</strong><br>
            <p>To <em>“eat out”</em> means to eat in a restaurant or somewhere outside one’s home. <br>
              We can also say,<em>“I like to eat at home.”</em> When you want to express that you like doing something,<br> you can say <em>“I like to + verb (something that you like to do).”</em></p><br><br>

            <strong>Related Phrases</strong><br><br>
            <p>My family likes to eat at restaurants. <br>
            My family is very close. <br>
            I’m having dinner with my family tonight. <br>
            I am going out with my family later. <br><br></p>


            <strong>Conversation 1</strong> <br><br>
            <img src="https://lh4.googleusercontent.com/8d6h0mw-rOlWQ5CyyvjutfscbH04oH-V2Owf6AC80KpMcYxKkW7NQn3Ua4Rmt6zZvIEIEEtfClMrdyvBcaLWiQfK6yB0G0oJDNIFjP3W7U81MTD9MFSPl829mctQ-rTUxBKZlKyc" alt="Error Loading Img" width="50%"><br><br>

            <strong>John: </strong>Are you busy tonight? <br>
            <strong>Danica: </strong>Yes. I am having dinner with my family near the beach tonight. <br>
            <strong>John: </strong>Really? Enjoy! <br><br>


            <strong>Situation:</strong> <br>

            <strong>1. Your friend just invited you for dinner, but your family is planning to eat together. What will you say English?</strong><br>
            <strong>2. Your friend is inviting you to a party, but you have plans with your family.</strong>

            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel14">Close</button><br>
            <hr>
         </div>

         <br><p>15. I don’t want to leave.   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel15">Show contents</button></p>
          <div id="travel15" class="collapse">
            <br><br>
            <img src="https://lh3.googleusercontent.com/6pV2orjnCgXUcIv2ULcUVgweUZbe1_x7mBatPWbSITX7-CKhVVROfB-NAi2ces_VHFR0Hs3qh-BTrEQnAVixGAQ_ecMv864cQxT5zKXpclVgY1pCkC4en-9xW_5WOcaqIqR-xjyb" alt="Error Loading Img" width="50%"><br><br>

            <strong>Danna: </strong>Here we are, Akiko. Our last stop. <br>
            <strong>Akiko: </strong>And it’s another beautiful beach. What a wonderful ending. <br>
            <strong>Danna: </strong>Yes. Tawi-Tawi is a lovely island. <br>
            <strong>Akiko: </strong>The Philippines is amazing. I don’t want to leave. <br>
            <strong>Danna: </strong>When will you go back to Japan? <br>
            <strong>Akiko: </strong>I will be flying back home in 2 weeks. <br>
            <strong>Danna: </strong>Oh. So soon? <br>
            <strong>Akiko: </strong>I know. I want to see more of the country. <br>
            <strong>Donna: </strong>Well, we should enjoy this last island, then. <br>
            <strong>Akiko: </strong>And we will! <br><br>

            <img src="https://lh6.googleusercontent.com/sK0z8cPSHPwdSeVuGpNb0Bq8HDWyT4QDhcgEj7j4bdiGEjYWCrmRaUzBA-zYh1bG8fh6riYg1S_JKHHJ2slTjfzTw2ghonFOKqtxi_Sf9Z24x5n-dvwoR5FleJHynpBs8bfwS7EC" width="50%" alt="Error Loading Img"> <br> <em>Bud Bongao, Tawi-Tawi, Philippines</em> <br><br>


            <strong><em>Trivia</em></strong><br><br>
            <p>Tawi-Tawi means <em>“very far.”</em> Tourists like to visit its beaches, mountains, and mosques. <br> The local cuisine is very similar to Malaysian food. <br><br></p>

            <p>To express a refusal to do something, you can say, <em>“ I don’t want…” "Don’t”</em> is the abbreviation of <em><strong>“do not.”</strong></em><br>
              To make the sentence negative, you can use the auxiliary verb, <em>“not”</em> before a verb. <em>“Not"</em> can negate anything after that verb. <br>
              In this case, you can use auxiliary verb <em>“do”</em> (when subject is <em>“she/he/it”</em>, this <br> turns to <em>“does”</em>).</p><br><br>


            <p>We don’t want <strong>(do not want)</strong> to go. <br>
              They didn’t leave <strong>(did not leave)</strong> earlier. <br>
              He doesn’t like <strong>(does not like)</strong> mathematics.</p><br><br>



            <p>In everyday conversation, we can use the abbreviations <em>“don’t“ “didn’t” or “doesn’t”</em></p><br><br>

            <img src="https://lh6.googleusercontent.com/45LwyDitpfQyQoExmqcZtCi1txRZfwyXHKhnIPw3vIBpIZMyMt3uB3vFlY-mSGTJMydDooMbxYqQhMxp53gEUu_CjuG9AqLEpVlwsTW0d4e3SGL6Sz4W0h1FyqaA2643lew3di3D" alt="Error Loading Img" width="50%"><br><br>

            <strong>Mom: </strong>We need to leave the toy store now. <br>
            <strong>Daughter: </strong> I want to stay. <br><br>

            <img src="https://lh6.googleusercontent.com/1aLJI7A5HCNFtezAxTDKStSlAK-ux6dvEJVvk6ZY4Dlzo3_p-lPmo5YFrU7tUvgQWDbtCY2oaf7Iv5nJgM9tmWhjKJNGbP2NcpSMgQ1zhS6v2-YSLKsMdSjkBWk15PXEzBZlpPnt" alt="Error Loading Img" width="50%"><br><br>

            <strong>Danna: </strong>Leaving so soon? <br>
            <strong>Xander: </strong>Yes. I need to go home. <br><br>

            <strong>Situation: <br>You are having a very good time on your vacation in Bohol. You’re sad that you have to leave soon. <br>How can you express that you would like to stay?</strong>
       

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel15">Close</button><br>
            <hr>
         </div>
         <br><p>16. Let's meet again, okay?   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel16">Show contents</button></p>
          <div id="travel16" class="collapse">
            <br><br>
            <img src="https://lh5.googleusercontent.com/3ZGno3BDJHVc8pyAlDvrEqPfy6-O-axNHKPSIODs_4I4vjgW80xeK214qIQq6abyIr8eTOMht2J51EjButEZFF1bmGJzspgRyd0hTmAoAjxItvfxWJE9KHQfQYpd_ZceCnRQPVdx" alt="Error Loading Img" width="50%"><br><br>


            <strong>Akiko: </strong>Well, this is it. I have to go now. <br>
            <strong>Danna: </strong>All right. Have a safe trip home, Akiko! <br>
            <strong>Danna: </strong>Thank you for everything. I’m so glad I came to the Philippines. <br>
            <strong>Akiko: </strong>And I’m so glad you loved it here! There’s more to see, so come back again! <br>
            <strong>Danna: </strong>Of course! Let’s meet again, okay? <br>
            <strong>Akiko:  </strong>Yes! Let’s keep in touch online. <br>
            <strong>Danna: </strong>Definitely. Goodbye! <br>
            <strong>Akiko: </strong>Goodbye, Akiko! <br><br>

            <img src="https://lh3.googleusercontent.com/872hWNT4XEYxQkdwGZfFN3VGqjBvzsHl5SBlc_X2_l9_Z7QKaDkF0vPNtC5NCDZI5OhKsj5PH5UUnphQEK8Bx4sR0SfB43RLPnhSKrAIIUj4IBfT12bNTdRxOYKHuzPMQh0NrU9A" alt="Error Loading Img" width="50%"><br><br>

            <strong><em>Trivia</em></strong><br><br>

            <p>There are many other tourist spots in the Philippines. For example, the island of Batanes is a popular destination because of its <br> beautiful mountains and beaches. Batanes is also home to the Ivatan people, a local  <br> tribe that has a well-preserved culture. Camiguin is another province that’s famous because its beaches <br> look similar to the ones in Hawaii.</p><br><br>


            <p><em>“Let’s”</em> is a short form of <strong>“let us,”</strong> used to make suggestion to do something with another person. <br>In this case Akiko suggested that she and Danna should meet again. this expression is usually used when parting <ways class="br"></ways> <em>“Let’s”</em> may sound imperative, but it can also express a friendly invitation.</p><br><br>

            <em>Example/s:</em> <br><br>

            <p>Let’s take a break. <br>
              Let’s hurry! It’s already late. See you again soon. <br>
              Let’s set a date. <br>
              Let’s see each other soon. We should hang out again. <br></p><br>


            <strong>Conversation 1</strong><br><br>
            <img src="https://lh3.googleusercontent.com/wUJCMyMf-CHKrrRShv_Af-lXVTyv905iHTkwmpxkMi03WnWBIwvmFOoIkbgNCA7mbSZGuQ_TBnq9bOcVKRL5E12Aj5r4Ett4mQ-zAqf9iyySamkPCEVom-HKfM8n91-KV_FQ0r0J" width="50%" alt="Error Loading Img"><br><br>

            <strong>Xander: </strong>Hey, we should go traveling again. <br>
            <strong>Danna: </strong>We should. Let’s set a date. <br><br>


            <strong>Conversation 2</strong><br><br>
            <img src="https://lh6.googleusercontent.com/3gq5-I8b46jBRiuIKHAt1sMYmWLTwB8Qm5p8noEPXqV5jsybcGhIhDyoli9_TmSmmuxBFIFYRUJRffm0Z2YgQJy-RVI5oe4ctYJTd3ZeQ4Amcql26K82oVxH7rkzhPudmzLE-k6u" width="50%" alt="Error Loading Img"><br><br>

            <strong>Danna: </strong>We had such a good time. Let’s see each other soon. <br>
            <strong>Xander: </strong>Yes, sure. <br><br>

            <strong>Situation: <br></strong> <br>
            <p>You spent the day with your Korean friend and had such a nice time that you want to repeat the experience.</p>
            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel16">Close</button><br>
            <hr>
         </div>

         <br><p>17. Should we take diving lessons?   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#travel17">Show contents</button></p>
          <div id="travel17" class="collapse">
            <p><em>Objective: It focuses on learning English in the context of TRAVEL.</em></p><br><br>
            <img src="https://lh6.googleusercontent.com/Ja9CDSAIMj52qY8VqbNkvky88JCPLSLdbhgAOopZlg4Xp9zd7xuAPXFpSi-vA5J5nRhMh6zPLYu03TsoHnjx37zbK9S5FKr6cCq1jBOU0fh_VQbvhm7pwRICXA3a9Pgj1ySZsVYa" width="50%" alt="Error Loading Img"><br><br>

            <strong>Danna: </strong>Snorkeling is fun! Did you see the clown fish? <br>
            <strong>Akiko: </strong>Yes, I did! They were so cute. <br>
            <strong>Danna: </strong>There were also other colorful fish. <br>
            <strong>Akiko: </strong>I liked the corals. They’re beautiful. <br>
            <strong>Danna: </strong>I want to swim again! <br>
            <strong>Akiko: </strong>Hey, should we take diving lessons? <br>
            <strong>Danna: </strong>Yes, so we can dive for longer. <br>
            <strong>Akiko: </strong>Sounds great! <br><br>

            <strong><em>Trivia</em></strong><br>
            <img src="https://lh6.googleusercontent.com/oUHbeCTVs7otPjBY_kb1ySLwPMTethofk1z37OW4vbew7Ve06IeesIq2954IZQ0PXEt9Gwpomzs3nDcjG0T6jwllcKMdS2AZ4ybglKOIWqxwukT9J8BbkRGOZLwiDndG3XUNwCx8" width="50%" alt="Error Loading Img"><br><br>

            <p>Dumaguete is a one-hour plane ride from Manila. It is a coastal town that has many dive sites. <br> The most popular dive site is at Apo Island.</p><br><br>

            <p><em>“Should”</em> is used in a sentence to indicate obligation or necessity. In this case, it is necessary <br> to take diving lessons. It is also used for giving or asking for advice. Sometimes it is used when <br> criticizing someone’s actions.</p><br><br>

            <em>Example/s:</em><br>
            <p>You should park your car there.<em> (This tells you that this is where you must park.)</em></p><br><br>


            <strong>Conversation 1</strong><br><br>
            <img src="https://lh6.googleusercontent.com/0TYt5eTbCsDs8bY52aUy5b3WwZyb5yn7Nt6HE4TYPNlOk8BJyrl-NtsReZri9vIkdAtlk5QWKND26oa8iztt5XsdOYP2rDiZ4idctDwjekqxwT_7ewJ2wcdvhyFWdEQut5qgpyKs" alt="Error Loading Img" width="50%"><br><br>

            <strong>Bridgette: </strong>Oh no, we’re late. What do we do? <br>
            <strong>Abegail: </strong>We have to call our tour guide. <br><br>

            <strong>Conversation 2</strong><br><br>
            <img src="https://lh6.googleusercontent.com/7dcp_hzl95SbpLglilfqsSGr7_5RpdBJtToeTRioqzVvOJQmAmwDyd6XAAar-oDq3fyv9BGLb4wRAkQS-MhG-gV-ZcSOnrunmiRSK9tjrp9vpR1FM91o96skThtIiqyPGYTFWYdX" width="50%" alt="Error Loading Img"><br><br>

            <strong>Bridgette: </strong> Should I take the train? <br>
            <strong>Abegail: </strong>Yes, it’s more convenient. Let’s buy tickets. <br><br>



            <strong>Situations:</strong><br>
            <p>You are on a travel tour in Europe with your friend. Unfortunately, you don’t know the schedule for the week. <br>You want to clarify with your tour guide.</p>
            

            <br>
            <hr>
            <em>Disclaimer: Photos are owned and copyrighted by their respective website owners.<br>No copyright infringement intended.</em>


            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#travel17">Close</button><br>
            <hr>
         </div>
      </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="hidden-xs">Idiomatic Expression<span class="pull-right glyphicon glyphicon-book"></span></h3></div>
      <div class="panel-body">
          <br><p>Phrases A & B   <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#idiom1">Show contents</button></p>
          <div id="idiom1" class="collapse">
              
              <blockquote>
                <p>About time</p>
                <small>an underground station where underground trains depart and leave, esp in London</small>
              </blockquote>

            <strong>Conversation:</strong><br><br>
            <strong>A: </strong>Don’t you want to get a job so you can save money for yourself? <br>
            <strong>B: </strong>I know. It’s about time I’ll look for a job. <br><br>

            <em>use 'about time' in your own sentence</em><br><br>
            
            <blockquote>
                <p>All the best</p>
                <small>You can say this to wish someone good luck when you're saying good-bye.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>
            <strong>A: </strong>Are you leaving for England early tomorrow? <br>
            <strong>B: </strong>Yes, I might stay there for a year. <br>
            <strong>A: </strong>Oh I see. I wish you all the best. <br><br>


            <em>Use 'all the best' in your own sentence</em><br><br><br>


            <blockquote>
                <p>All well and good</p>
                <small>You can say this about something that's good, but not exactly what's needed or not all that's needed.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>How was your presentation yesterday? <br>
            <strong>B: </strong>It’s all well and good. <br><br>

            <em>use 'all well and good' in your own sentence</em><br><br><br>

            <blockquote>
                <p>Allow me </p>
                <small>This is a polite thing to say when you're offering to help someone.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>This books are so heavy, I think I can’t open the door. <br>
            <strong>B: </strong>No problem, allow me. <br><br>

            <em>use 'allow me' in your own sentence</em><br><br><br>


            <blockquote>
                <p>As a matter of fact</p>
                <small>You can say this when you're adding information, or when you're correcting wrong information.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>You told me about the nice places in Cebu. My friend said maybe it wasn’t true. <br>
            <strong>B: </strong>It is true! As a matter of fact, I can show you pictures and videos when I went there. <br><br>

            <em>use 'as a matter of fact' in your own sentence</em><br><br><br>


            <blockquote>
                <p>As far as I know</p>
                <small>You can say this when telling someone what you know so far, when there could be other facts you don't know.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>How much is the population of Japan this year? <br>
            <strong>B: </strong>I’m not sure but as far as I know it was around 126 million plus. <br><br>

            <em>use 'as far as I know' in your own sentence</em><br><br><br>

            <blockquote>
                <p>As far as I’m concerned</p>
                <small>You can say this when giving your personal opinion or views about something.</small>
            </blockquote><br>

            <strong>Conversation:</strong><br><br>

            <strong>A: </strong>Is this place good for dinner? <br>
            <strong>B: </strong>Definitely. As far as I’m concerned, it’s the best restaurant in town. <br><br>


            <em>use 'As far as I'm concerned' in your own sentence</em>










            <br>
            <hr>
            <!-- close close -->
            <!-- close close -->
            <!-- close close -->
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#idiom1">Close</button><br>
            <hr>
         </div>





      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="hidden-xs">Business English<span class="pull-right glyphicon glyphicon-tags"></span></h3></div>
      <div class="panel-body">
        adsasdasdasdadadadadsasda
      </div>
    </div>
  </div>
  </div>