.pagination { padding: 0px; margin: 0px; zoom:0.8; } 
.pagination a { padding: 10px 15px 10px 15px; margin: 2px; border: 1px solid #e9573f; text-decoration: none; color: #e9573f; } 
.pagination a:hover, 
.pagination a:active { border: 1px solid #e9573f; color: #000; } 
.pagination span.current { padding: 10px 15px 10px 15px; border: 1px solid #e9573f; font-weight: bold; background-color: #e9573f; color: #FFF; } 
