<%#= will_paginate %>
<% @users.each do |user| %>
<%= link_to user.name, "show" %>
<% if current_user.admin? %>
<td class="red zoom15"><%= link_to '編集', admin_edit_deposit_path(user) %></td>
<%= link_to '編集', edit_sell_path(sell) %>
<% end %>
<br>
<% end %>
<%#= will_paginate %>