<h4>発送・検品中</h4>
<p style="font-size:12px;">
発送中、または、検品中の商品一覧です。<br>
商品の受け取り後は、検品納期までに検品を行い、
問題がなければOKボタン、返品する場合はNGボタンを押してください。<br>
OKボタンを押した時点で販売者様に商品代金が振り込まれ、売買成立となります。<br>
売買成立後の返品は不可となります。<br>
返品される際は、トラブル防止のために販売者様と直接ご連絡を取るようお願いいたします。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/buyer_three_safe' %>
    </div>
 </div>