<h4>希望中</h4>
<p style="font-size:12px;">
購入希望中の商品一覧となります。 販売者様のアクション待ちです。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
     <%= render 'safes/buyer_one_safe' %>
    </div>
 </div>