<h4>返品中</h4>
<p style="font-size:12px;">
商品返品の希望を提出している商品の一覧です。<br>
販売者様との話し合いの後、返品してください。<br>
商品返品後は、販売者様のアクション待ちです。<br>
お預かり中の購入代金は、販売者様の返品確認が取れた時点で弊社より返金させていただきます。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/buyer_returner_safe' %>
    </div>
 </div>
 <div>.</div>