<h4>購入可能</h4>
<p style="font-size:12px;">
購入可能商品となります。<br>
購入ボタンを押した時点で、サイト内の使用可能残高が購入代金として減ります。<br>
商品代金の２％のサイト使用手数料をいただいております。<br>
購入前に、商品在庫状況や、その他取引に関わる詳細を、販売者様と直接のやりとりで確認してください。<br>
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/buyer_two_safe' %>
    </div>
 </div>
