<h4>返品中</h4>
<p style="font-size:12px;">
商品返品の希望が提出されている商品の一覧です。<br>
返品を確認しましたら、完了ボタンを押してください。<br>
弊社より購入者様に、預かり済みの購入代金が払い戻しされます。
</p>

<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/seller_returner_safe' %>
    </div>
 </div>
  <div>.</div>