<h4>納品済</h4>
<p style="font-size:12px;">
すでに納品処理が完了した取引の一覧となります。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
     <%= render 'safes/seller_finish_safe' %>
    </div>
 </div>