<h4>発送・検品中</h4>
<p style="font-size:12px;">
売却が完了済みの商品一覧です。<br>
到着予定日に届くよう、商品を購入者様の住所へ運送してください。<br>
運送後は、購入者様のアクション待ちです。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/seller_three_safe' %>
    </div>
 </div>