<h4>提案中</h4>
<p style="font-size:12px;">
売買の詳細を提案中の商品一覧となります。
購入者様のアクション待ちです。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/seller_two_safe' %>
    </div>
 </div>