<h4>希望中</h4>
<p style="font-size:12px;">
購入希望の一覧です。<br>
売却前は、購入者様と直接のお電話やメールでのやりとりをお勧めいたします。<br>
円滑な取引のために、購入の確認と、取引の詳細をを確認しておきましょう。
</p>
<div class="center" style="width:100%;">
</div>
    <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'safes/seller_one_safe' %>
    </div>
 </div>
