<script type="text/javascript" src="https://credit.j-payment.co.jp/gateway/js/jquery.js"></script> 
<script type="text/javascript" src="https://credit.j-payment.co.jp/gateway/js/CPToken.js"></script>

<center>
<div class="container" style="padding:0 0 0 0 ;">
 
<h2 style=" font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">30分のTIMEを購入 </h2>
<p style=" font-family: 'Work Sans', sans-serif;" >( Price：24,980 yen )</p>

<br>

<div style="margin:0 0 0 0; width:100%;">

<SCRIPT LANGUAGE="JavaScript">
<!--
if (window.name != "xsyz")
{
// document.write("読み込み中です。しばらくお待ちください。")
setTimeout("location.reload()",1);
window.name = "xsyz";
}

//-->
</SCRIPT>




<style>
#payjp_checkout_box input[type=button] {
  border:none;
  margin: 0 0% 0 0 ;
  display: inline-block;
  padding: 7px 20px;
	border-radius: 25px;
  text-decoration: none;
  text-align:center;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  zoom: 2.5;
font-family: ten-mincho, serif; font-style: normal; font-weight: 100;
}
</style>

<%= form_tag(action: :purchase, method: :post) do %>
<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="<%= @pk %>" data-text="チャージする" ></script>
<% end %>






<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<!--<input type="hidden" name="cmd" value="_s-xclick">-->
<!--<input type="hidden" name="hosted_button_id" value="Q8BTY2VBYXTJL">-->
<!--<input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">-->
<!--<img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">-->
<!--</form>-->


  <!--<form action="purchase" controller=>"users" method="POST">-->
  <!--  <script type="text/javascript" src="https://checkout.pay.jp/" class="payjp-button" data-key="pk_test_63ad9c9e76774db32fd67a27" data-partial= true data-previous-token="yes" data-partial="yes"></script>-->
  <!--  <br>-->
  <!--  <input type="submit"  class="deg_btn" value="チャージする">-->
  <!--</form>-->
    
</div>

<a type="button" class="btn col-md-offset-1 col-md-5 col-xs-offset-1 " style=" margin:50px 30% 20px 30%; color:black;" href="/purchase"><i class='fa fa-mail-reply'></i> 戻る</a>


</center>
</div>
<div style="clear: both;"> </div>
