<% provide(:title, "Thank you for choosing!!") %>


  <div class="">
	


<div style="width:100%; margin:0 0% 0 0%;">
<center>
      <div style="position:relative; float:right; width:100%;">
<h2>Thank you for choosing me!! <span style="font-size:6px; font-family: 'Work Sans', sans-serif;"></span></h2>
      <br>
      <p style="font-size:10px; color: rgba(70,40,84,1);">
      下の" contact us "ボタンを押して、講師にメッセージを送ってね:)<br><br>
      メッセージが送れない場合は、以下のSkypeIDから直接連絡してください。<br><br><br><br>
      
      <span class="skype-button rounded" data-contact-id="<%= @user.skype %>" data-color="#000" style="color:#fff; zoom:2;"></span>
      <span class="skype-chat" data-color-message="#000"></span>
      <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
      
      
      <br><br>
      <span style="font-size:20px;">skype : <%= @user.skype %></span>
      </p>






      </div>
<a type="button" class="btn col-md-offset-1 col-md-5 col-xs-offset-1 " style=" margin:50px 30% 20px 30%; color:black;" href="/"><i class='fa fa-mail-reply'></i> 戻る</a>

      
      </div>
</center>
</div>

<div style="clear: both; height:100px;"> </div>





  