<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<!-- -- -->
<span><%= pluralize(current_user.sells.count, "sell") %></span>
<!--数字のカウントもpluralize-->
<!--current_user.sells.countが、current_userのsellsの数-->