<% provide(:title,"掲載案件の情報を編集") %>

<h4>掲載案件の情報を編集</h4>

<div class="container">
  <div class="form-center">
    <div class="box-whitesmoke">
      <div class="row">
        <div class="col-md-12 col-md-offset-3">

        <%= render 'shared/sell_form3' %>

        </div>
      </div>
    </div>
  </div>
</div>
