<h1>パスワードの再設定</h1>

<p>パスワードのリセットは以下リンクからおこなってください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間のみ有効です。</p>