
<center style=" width:100%; ">
<div style="text-align:center; width:70%;">
        <h4 id="copy" style="text-align:center; font-family: 'Work Sans', sans-serif;" >
        	<i class="fa fa-copyright" aria-hidden="true"></i> 2017 Web-Mech.ALL RIGHT RESERVED.
        </h4>
</div>
</center>

